<div id="feedback_sent">
  <h1>Mensagem Enviada com Sucesso</h1>
  <p>
    Sua mensagem foi enviada com sucesso para o grupo :
    <%= @feedback.groups.collect{|g| g.name }.join(', ') %>
  </p>

  <p>
    <button><%= link_to 'Clique aqui para voltar', site_path %></button>
  <p>
</div>
