<div id="feedback_sent">
  <h1><%= t('.success_sent') %></h1>
  <p>
    <%= t('.group_sent') %>
    <%= @feedback.groups.collect{|g| g.name }.join(', ') %>
  </p>

  <p>
    <button><%= link_to t('.back_link'), site_path %></button>
  <p>
</div>
