<div class="row">
  <div class="col-md-5">
    <%= form_tag admin_notifications_path, method: 'get', autocapitalize: "off", class: 'search' do %>
      <%= search_input params[:search] %>
    <% end %>
  </div>
  <div class="col-md-7">
    <% if check_permission(Admin::NotificationsController, ["new"]) %>
      <div class="pull-right">
        <%= link_to t(".new_notification"), new_admin_notification_path, class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>

<%= content_tag :div, render('list'), id: 'list' %>
