<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t("welcome")%> <%= @user.first_name %>!</h1>  

    Sua conta está ativa!
  </body>
</html>
