<% title ".albums" %>
<% breadcrumb :albums_edit, @album %>

<div class="row">
  <div class="col-sm-12 col-md-3">
    <%= render 'form' %>
  </div>
  <div class="col-sm-12 col-md-9">
    <%= render 'upload_form' %>
  </div>
</div>
