<fieldset>
  <legend><%= t('.select_component', :default => 'X Selecionar um Componente') %></legend>

  <% Weby::Components.available_components.each do |component| %>
    <p><%= link_to component.name, new_site_component_path(:component => component.component_name) %></p>
  <% end %>
</fieldset>
