<nav class="menu_accessibility_component right basic">
  <span class="accessibility">
    <%= acessibility_font_links(component) %>
    <% if component.contrast? %>
      <span class="accessibility_color">
        <%= acessibility_color_links(component) %>
      </span>
    <% end %>
  </span>
</nav>

