<fieldset>
  <legend><%= t"menu.other"  %></legend>

  <div class="contextual">
    <p> <%= link_to (t"new_param.masc", :param => (t"menu.one")),  new_site_menu_path(:category => params[:category]), :class => 'icon icon-add'%> </p>
  </div>

  <div id='tabs'>
    <ul>
      <% links = @site.menu_categories %>
      <% for link in links do %>
        <% selected = params[:category] == link ? "selected" : "" %>
        <li><%= link_to(link.try(:titleize), site_menus_path(@site, :category => link), :class => "#{selected}") %></li>
      <% end %>
    </ul>
  </div>
  <div id='main-tabs'>
    <% unless @menus[params[:category]].blank? %>
      <%= raw print_menu(@menus[params[:category]], 1) %>
    <% end %>
  </div>
</fieldset>
