<fieldset>
  <legend><%= t"menu.other"  %></legend>

  <div class="contextual">
    <p> <%= link_to (t"new_param.masc", :param => (t"menu.one")),  new_site_menu_path(:side => params[:side]), :class => 'icon icon-add'%> </p>
  </div>

  <div id='tabs'>
    <ul>
      <% links = ["main","secondary","base","auxiliary"] %>
      <% for link in links do %>
        <% selected = params[:side] == link ? "selected" : "" %>
        <li><%= link_to(t("#{link}"), site_menus_path(@site, :side => link), :class => "#{selected}") %></li>
      <% end %>
    </ul>
  </div>

  <div id='main-tabs'>
    <% if not params[:side].nil? and not params[:side].empty? %>
      <%= render params[:side] %>
    <% end %>
  </div>
</fieldset>
