# ---------------------------------------------------
# WEBY - LOCAL DEVELOPMENT ENVIRONMENT
# ---------------------------------------------------

# Deixe em branco para desenvolvimento local
# Rails vai gerar automaticamente se não existir
SECRET_KEY_BASE=

DB_USER=weby
DB_PASS=weby
DB_HOST=db
DB_DB=weby
DB_PORT=5432

STORAGE_BUCKET=
STORAGE_ACCESS_KEY=
STORAGE_ACCESS_SECRET=
STORAGE_HOST=
STORAGE_REGION=

STORAGE_BUCKET_ALBUM=
STORAGE_ACCESS_KEY_ALBUM=
STORAGE_ACCESS_SECRET_ALBUM=
STORAGE_HOST_ALBUM=

ELASTICSEARCH_URL=
ELASTICSEARCH_PREFIX=
