<section class="blank_component <%= component.html_class %>">
  <% if component.put_at_end? %>
    <% content_for :javascripts do %>
      <%= raw component.body %>
    <% end %>
  <% else %>
    <%= raw component.body %>
  <% end %>
</section>
