<fieldset>
  <legend><%= t"archive.other" %></legend>

  <div class="contextual">
    <p> <%= link_to (t"new_param", :param => (t"archive.one")), new_site_repository_path, :class => 'icon icon-add' %> </p>
  </div>

  <div id="repo_list">
    <%= render :partial => 'repo_list' %>
  </div>
</fieldset>
