<fieldset>
    <p>
      <%= image_tag @repository.archive.url %>
    </p>	
    <p>
      <%= @repository.description %>	
    </p>

    <%= link_to t("edit"),{:controller => 'repositories', :action => 'edit', :id=> @repository.id} %> |
    <%= link_to t("back"),{:controller => 'repositories', :action => 'index'}%>
</fieldset>
