<fieldset>
    <p>
      <%= image_tag @repository.archive.url %>
    </p>	
    <p>
      <%= @repository.description %>	
    </p>

    <%= link_to t("edit"), edit_site_repository_path(@site, @repository) %> |
    <%= link_to t("back"), site_repositories_path(@site) %>
</fieldset>
