<section id="banner_horizontal">
  <div>
    <% @banners = @site.banners.published.tagged_with(component.category) %>
    <% @banners.each do |banner| %>
      <% banner_url = banner.page_id ? site_page_path(@site, banner.page_id) : banner.url %>
      <% unless banner.repository.nil? %>
        <figure>
          <% format = banner.size ? banner.size : "little" %>
          <%= weby_file_view(banner.repository,
                             format,
                             "#{banner.width}",
                             "#{banner.height}",
                             {
                                as: 'link',
                                alt: banner.text,
                                title: banner.text,
                                url: banner_url
                             }) %>
        </figure>
      <% end %>
    <% end %>
  </div>
  <div class="clear"></div>
</section>
