<section class="banner_horizontal_component">
  <% @banners = @site.banners.published.tagged_with(component.category) %>
  <% @banners.each do |banner| %>
    <% banner_url = banner.page_id ? site_page_path(banner.page_id) : banner.url %>
    <% unless banner.repository.nil? %>
      <figure>
        <% format = banner.size ? banner.size : "little" %>
        <%= weby_file_view(banner.repository,
                           format,
                           "#{banner.width}",
                           "#{banner.height}",
                           {
                              as: 'link',
                              alt: banner.text,
                              title: banner.text,
                              url: banner_url,
                              target: (banner.new_tab ? '_blank' : '')
                           }) %>
      </figure>
    <% end %>
  <% end %>
</section>
