<%= stylesheet_link_tag 'about' %>

<div id="about-body">
  <header>
    <%= image_tag 'weby-logo-60.png', id: "logo", class: "centerbox" %>
  </header>
  <section id="about">
    <section id="description" class="centerbox">
      <p>O projeto Weby é um software gerenciador de conteúdo (CMS) web, multiportal e desenvolvido pela Universidade Federal de Goiás.</p>
      <h1>Colaboradores<sub>*</sub></h1>
      <p>Equipe web do Cercomp - <a href="http://www.cercomp.ufg.br">www.cercomp.ufg.br</a></p>
      <p>
        <ul>
          <li>Arthur Henrique Guimarães de Oliveira</li>
          <li>Danilo Inacio de Souza Resende</li>
          <li>Idalice Morais</li>
          <li>Jônatas Rancan de Souza</li>
          <li>Jorge Luiz de Faria Fernandes</li>
          <li>Kássio Borges de Melo</li>
          <li>Leonardo Ribeiro de Souza</li>
          <li>Marcello Henrique Dias de Moura</li>
          <li>Nícolas Lazarte Kaqui</li>
          <li>Ricardo Paula da Silva</li>
          <li>Wanderson Paim</li>
        </ul>
      </p>
      <p class='footnote'>* Por ordem alfabética</p>
    </section>
  </section>
  <footer>
    <p class="copyright">Copyright © 2011-2012 UFG, Todos os direitos reservados.</p>
  </footer>
</div>
