<% comp = Weby::Components.factory(current_site.components.find_by_name("sitemap")) %>
<div id="sitemap_bar">
  <% url = comp.url.blank? ? "/map" : comp.url %>
  <% pos = comp.align.blank? ? "left" : comp.align %>
  <p align="<%= pos %>">
    <a href="<%= url %>"><%= t(".sitemap") %></a>
  </p>
</div>
