<% locales = @site.locales %>

<nav class="menu_i18n_component right">
  <% if component.dropdown  %>
    <ul class="i18n_dropdown" >
      <li>
        <%= link_to flag(locales.first), params.merge(locale: locales.first.name ) %>
        <ul class="i18n_submenu">
          <% locales[1..locales.length].each do |locale| %>
            <li><%= link_to flag(locale), params.merge(locale: locale.name ) %></li>
          <% end %>
        </ul>
      </li>
    </ul>
  <% else %>
    <% locales.each do |locale| %>
      <%= link_to flag(locale), params.merge(locale: locale.name ) %>
    <% end %> 
   <% end %>
</nav>
