<div class="foldMenus">
  <div class="item"><%= link_to t("news"), noticias_path %></div>
  <div class="item"><%= link_to t("newsletter"), informativos_path %></div>
  <div class="item"><%= link_to t("event"), eventos_path %></div>
</div>
