<div class="foldMenus">
  <div class="item"><%= link_to "Notícias", noticias_path %></div>
  <div class="item"><%= link_to "Informativos", informativos_path %></div>
  <div class="item"><%= link_to "Eventos", eventos_path %></div>
</div>