<div class="foldMenus">
  <p> <%= link_to (t:news, :count => 1 ), noticias_path %> </p>
  <p> <%= link_to (t:newsletter, :count => 1), informativos_path %> </p>
  <p> <%= link_to (t:event, :count => 1), eventos_path %> </p>
</div>
