/* 
 *= require_tree ../../shared 
 *= require_tree ../../legacy 
 *= require_tree ../../extensions 
 *= require jquery-ui.css
 *= require jquery-ui-timepicker-addon.css
 *= require google/droidsans 
 *= require google/orbitron 
 *= require _bootstrap
 *= require_self 
 */ 

// style to create menu dropdown in webybar
ul.webybar-dropdown
{
  margin: 0;
  list-style-type: none;
  & > li
  {
    position: relative; 
    &:hover > a,
    &:hover > a .white
    {
      color: #333;
      background: white;
    }
  }
  & li
  {
    & ul
    {
      list-style: none;
      position: absolute;
      z-index: 999;
      background-color: white;
      border: 1px solid #DDD;
      border-top: none;
      margin: 0;
      padding: 0;
      & li a {
        display: block;
        color: #333;
        padding: 10px 20px;
        width: 160px;
        &:hover
        {
          text-decoration: none;
          color: #999;
        }
      }
    }
    & ul.left { right: -9999px; }
    & ul.right { left: -9999px; }
    &:hover ul.right { left: -1px; }
    &:hover ul.left { right: -1px; }
  }
}

// style to create modules in layout
div.content-module
{
  background: white;
  margin-bottom: 1em;
  border: 1px solid #eeefef;
  header
  {
    background: #3f4551;
    cursor: pointer;
    h3
    {
      text-transform: uppercase;
      color: white;
      font-weight: bold;
      margin: 1.25em;
    }
  }
  section.main { padding: 1em; }
}

// style for this layout
header
{
  width: 940px;
  margin: 0 auto;
  padding: 1.25em 1.875em;
}

section#content
{
  background: #F8F9FA;
  border: 1px solid #EEEFEF;
  padding: 1.875em 0;
}

footer
{
  color: #9498a1;
  text-align: center;
  padding: 1.875em 0;
}

// clearfix
.cf
{
  zoom: 1; // for ie6/7
  &:after { clear: both; }
  &:after,
  &:before,
  {
    content: "";
    display: table;
  }
}
    
// style to search form
form.search
{
  width: 700px;
  margin: 0 auto;
  padding-bottom: 10px;

  .input-search
  {
    padding: 1em 0.625em;
    line-height: normal;
    height: auto;
    width: 80.5%;
  }
  .btn-search
  {
    width: 17% !important;
    margin-bottom: 9px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 18px;
    -webkit-border-radius: 0 3px 3px 0 !important;
       -moz-border-radius: 0 3px 3px 0 !important;
            border-radius: 0 3px 3px 0 !important;
  }
}

// style to navbar

/**/

.navbar-inner
{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background: #2a2e36;
  padding-left: 5px;
}

.navbar .brand {
  font-family: "Orbitron", "Droid Sans", Helvetica, Arial, sans-serif;
  padding-left: 20px;
  margin-left: 0px;
  float: none;
}
.navbar .brand.avatar {
  font-family: inherit;
  padding-left: 58px;
  font-size: 13px;
  line-height: 20px;
  margin-left: 0px;
  float: none;
  background-repeat: no-repeat;
  background-position: 20px 13px;
}
.navbar .nav > li > a.brand {
  padding-right: 10px;
  padding-left: 20px;
}
.navbar .brand,
.navbar .nav > li > a 
{
  padding-top: 20px;
  padding-bottom: 20px;
}

.orbitron
{
  font-family: "Orbitron", "Droid Sans", Helvetica, Arial, sans-serif;
}


.navbar { margin-bottom: 0; }
.navbar .divider-vertical { height: 60px; }
.navbar .nav .active > a,
.navbar .nav .active > a:hover { background: none; }

.red { color: #C11303; }
.white { color: white; }

.paginator,
.page_info_paginator
{
  padding-bottom: 9px;
}

.item_per_page_paginator { padding-right: 3px; }

.site-name { width: 250px; }

[class^="icon-"], [class*=" icon-"] {
  display: inline;
  background-image: none;
}

header .title 
{
  padding-top: 40px;
  font-size: 28px; }

.top_menu menu > li > menu { top: 0; }
[class^="icon-"], [class*=" icon-"] { width: auto; height: auto; line-height: 18px; }

article.page-show > header, article.page-show > summary {
  display: none;
}
