/* 
 *= require_tree .
 *= require google/orbitron
 *= require_self 
 */ 
@import "bootstrap";

.orbitron { font-family: "Orbitron"; }

body { background: transparent; }

section#content {
  background: #F8F9FA;
  border: 1px solid #EEEFEF;
  padding: 1.875em;
}

footer {
  color: #9498a1;
  text-align: center;
  padding: 1.875em 0;
}

header { padding: 30px 0; }

header .title {
  padding-top: 20px;
  font-size: 28px; }

article.page-show > header, article.page-show > summary { display: none; }

@import "bootstrap-responsive";
