<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t("welcome")%> <%= @user.first_name %>!</h1>  
    Um cadastro de usuário foi feito no Weby - Gerenciador de Conteúdo Web.<br />
    Se você não o fez, simplismente ignore este email.<br />
    Se você o fez, basta clicar no endereço abaixo:<br />
  
    <p><%= @account_activation_url %></p><br />

    Se o endereço de redirecionamento não funcionar tente copiar e colar no seu navegador.<br />
    Se você continuar tendo problemas contate-nos respondendo esse email.<br />
  </body>
</html>
