<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= t(".welcome")%> <%= @user.first_name %>!</h1>  
    <br />
    Uma requisição de recuperação de senha foi feita.
    <br />
    Seu login (nome de usuário) é:<h2><%= @user.login %></h2>
    <br />
    Se você não a fez, ignore este email.
    <br />
    Se você a fez, basta clicar no endereço abaixo:
    <br /><br />

    <p><%= @content %></p>
    <br />

    Se o endereço de redirecionamento não funcionar tente copiar e colar no seu navegador.
    <br />
    Se você continuar tendo problemas contate-nos respondendo esse email.
    <br />
  </body>
</html>
