<%= link_to_add_files(local_assigns) %>

<%= content_for :stylesheets, stylesheet_link_tag("shared/include_files") %>

<div id="dialog-repository-search">
  <%= render('repositories/repository_search') %>
</div>
