<%- title  'group.other' %>

<div class="span9">
  <div class="well">

    <div class="pull-right">
      <% if check_permission(Sites::Admin::GroupsController, [:new]) %>
        <%= link_to t('new_param.masc', param: t('group.one')),
          new_site_admin_group_path,
          class: "btn btn-success btn-large" %>
      <% end %>
      <% if check_permission(Sites::Admin::FeedbacksController, [:index]) %>
        <%= link_to  t('messages'),
          site_admin_feedbacks_path,
          class: "btn btn-success btn-large" %>
      <% end %>
    </div>
    <div class="clearfix"></div>

    <div id="list">
      <%= render :partial => "list" %>
    </div>
  </div>
</div>
