<% if request.path != site_path && @page then  %>
<div class="breadcrumb_component">
  <ul class="breadcrumb">
      <li><%= component.label %></li>
      <li><%= link_to "Home", site_path %><span class="divider">/</span></li>
      <% item = MenuItem.where(target_type: "Page", target_id: @page.id)[0] %>
      <% if item then %>
        <%  arr = [] %>
        <% begin %>
          <% arr.prepend item %>
          <% item = MenuItem.find_by_id(item.parent_id) %>
        <% end while item %>
        <% last = arr.pop %>
        <% arr.each do |menu_item| %>
          <% item_link = (menu_item.target_id? && menu_item.target_type == "Page") ? site_page_path(menu_item.target_id) : menu_item.url.match(/^\/pages\/\d*/) ? menu_item.url : false %>
          <li><%= link_to_if( item_link, menu_item.title, item_link) %><span class="divider">/</span></li>
        <% end %>
      <% else %>
        <% last = @page %>
      <% end %>
      <li class="active"><%= last.title %></li>
   </ul>
</div>
<% end %>