<% width = @main_width ? "#{@main_width+4}px" : "100%" %>

<div style="background: <%= settings[:background] %>">
  <div class="barra_governo" style="width: <%= raw width %>;">
    <div class="listras">
      <div class='logo'>
        <a href="http://www.brasil.gov.br/" target="_blank" title="Portal Brasil"></a>
      </div>
    </div>
  </div>
</div>
