<% unless @site.repositories.nil? %>
  <% image = @site.repositories.find(settings[:image])  %>
  <% height = settings[:height] || 200 %>
  <% width = settings[:width]   || 150 %>

  <%# if image.image? %>
    <%= image_tag(image.archive.url,
        :alt => image.description,
        :title => image.description,
        :size => "#{width}x#{height}") %>
  <%# end %>

  <div id="clear"></div>
  <br/>
<% end %>

