@import "form_utils";
$label_width: 120px;
$label_horizontal_margin: 10px;

.title_banner_input{
  @extend .title_page_input;
}
.text_banner_input{
  height: 300px;
  width: 500px;
}

label{
  font:{
    size: 14px;
    familly: Verdana;
  }
  cursor: pointer;
  float: left;
  width:  100px;
  text-align: center;
  margin: 0 10px;
  abbr{
    color: red;
  }
}

.hint {
  color: #555;
  display: block;
  margin-left: $label_width + (2 * $label_horizontal_margin);
  width: 200px;
  font:{
    size: 11px;
    style: italic;
}
}


