@import "utils";
fieldset.login_embedded{
  margin: 5px !important;
  padding: 15px !important;
  @include border_radius(8px);

  &:parent{
    @include border_radius(0 0 8px 8px);
  }

  div.text-field, div.password-field{
    border: 0;
    margin: 0;
    label{
      display: inline !important;
      width: 100% !important;
    }
  }

  .input.boolean input[type="checkbox"]{
    float: left;
    margin-right: 5px;
  }

  label {
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
    color: #444444;
    text:{
      align: left !important;
    }
    font:{
      size: 16px !important;
      weight: bold !important;
      family: Sans;
    }
  }

  legend{
    display: none;
  }

}
