@import "utils";

$label_width: 120px;
$label_horizontal_margin: 10px;

.simple_form{
  font-size: 14px;
  .pages_paginator{float: none}
}

div.input {
  clear: both;
  margin-bottom: 15px;

  &:hover label{
    color: black;
  }
}

div.input.image_list{
  padding-bottom: 25px;
}

.hint {
  color: #555;
  display: block;
  /*margin-left: $label_width + (2 * $label_horizontal_margin);*/
  width: 200px;
  font:{
    size: 11px;
    style: italic;
  }
}

label.collection_radio {
  float: none;
  margin: 0;
  padding: 0;
  vertical-align: -2px;
  margin:{
    right: 10px;
    left:   2px;
  }
}

.radio-group-images{
  display: table;
  label{
    float: left;
  }
  & > input[type=radio]{
    display: none;
    &:checked + label.collection_radio > img{
      @extend .radio-group-images-selected
    }
    & + label.collection_radio > img{
      padding: 4px 2px;
      margin: 5px;
      &:hover{
        @extend .radio-group-images-selected
      }
    }
  }
}

.radio-group-images-selected{
  margin: 4px 2px;
  padding: 2px;
  border: 3px solid red;
}

#selected-image-of-radio-group-images{
  margin-top: 15px;
  & input{
    display: none;
  }
  &:hover::before{
    content: url(../images/apagar.gif);
    position: relative;
    top: -50px;
    right: 0;
  }
}

.field_with_errors {
  background-color: #ff3333;
}

input.radio {
  margin-right: 5px;
  vertical-align: -3px;
}

.input.check_boxes{
  input.check_boxes{
    display: list-item;
    margin-left: 0;
    //vertical-align: -3px;
    margin-left: $label_width + (2 * $label_horizontal_margin);
    & + label{
      position: relative;
      left: $label_width + (4 * $label_horizontal_margin);
      margin: 0;
      float: none;
    }
  }
}

.actions{
  float: right;
  clear: both;
  margin: 10px auto;
  a{
    color: black;
    @extend .button;
  }
}

.green-button{
  background: rgb(189, 255, 187) !important;
  @extend .button;
}

.red-button{
  background: rgb(255, 197, 187) !important;
  @extend .button;
}

.blue-button{
  background: rgb(187, 208, 255) !important;
  @extend .button;
}

.button, .ui-button{
  border-width: 1px !important;
  border-bottom-width: 2px !important;
  border-right-width: 2px !important;

  line-height: 1.9 !important;
  color: black;
}

input, select, textarea{
  display: inline;
  margin: 5px 0;
  border: 1px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gray;
  padding: 3px;
  line-height: 23px;
  font-size: 14px;
  @include border_radius(4px);

  &:focus{
    border: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #faffbd;
    outline: none;
    @include box_shadow(0 0 28px 1px #aaa);
  }
}

input[type=search]{
  width: 250px;
  -webkit-appearance: none;
  &:focus{
    -webkit-appearance: none;
  }
}

label{
  font:{
    size: 14px;
    familly: Verdana;
  }
  cursor: pointer;
  display: block;
  /*float: left;*/
  /*width: $label_width;*/
  /*text-align: right;*/
  /*margin: 0 $label_horizontal_margin;*/
  abbr{
    color: red;
  }
}
.input label{
  margin: 10px 0;
}

button, 
input[type=submit],
input[type=button],
input[type=reset]{
  @extend .button;
}

.ui-multiselect-checkboxes{
  label{
    width: 98% !important;
    margin: 0 !important;
    text-align: left !important;
  }
}

@mixin placeholders{
  font-family: Verdana, Arial, sans !important;
}

::-webkit-input-placeholder { @include placeholders }
input:-moz-placeholder { @include placeholders }


.radio-group{
  label{
    width: 120px;
    display: block;
    margin-top: 5px;
  }
}
