@import "utils";

$label_width: 120px;
$label_horizontal_margin: 10px;

.simple_form{
  .pages_paginator{float: none}
  div.input{
    clear: both;
    margin:{
      bottom: 15px;
    }

    &:hover{
      label{
        color: black;
      }
    }
  }

  label{
    font:{
      size: 11px;
      familly: Verdana;
    }
    cursor: pointer;
    float: left;
    width: $label_width;
    text-align: right;
    margin: 2px $label_horizontal_margin;
    abbr{
      color: red;
    }
  }

  .hint {
    color: #555;
    display: block;
    margin-left: $label_width + (2 * $label_horizontal_margin);
    width: 200px;
    font:{
      size: 11px;
      style: italic;
    }
  }

  label.collection_radio {
    float: none;
    margin: 0;
    padding: 0;
    vertical-align: -2px;
    margin:{
      right: 10px;
      left:   2px;
    }
  }

  .radio-group-images{
    display: table;
    & > input[type=radio]{
      display: none;
      &:checked + label.collection_radio > img{
        @extend .radio-group-images-selected
      }
      & + label.collection_radio > img{
        padding: 4px 2px;
        margin: 5px;
        &:hover{
          @extend .radio-group-images-selected
        }
      }
    }
  }

  .radio-group-images-selected{
    margin: 4px 2px;
    padding: 2px;
    border: 3px solid red;
  }

  #selected-image-of-radio-group-images{
    margin-top: 15px;
    & input{
      display: none;
    }
    &:hover::before{
      content: url(../images/apagar.gif);
      position: relative;
      top: -50px;
      right: 0;
    }
  }

  .field_with_errors {
    background-color: #ff3333;
  }

  input.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }

  .collection_check_boxes .check_boxes, .radio-group {
    vertical-align: -3px;
    margin-left: $label_width + (2 * $label_horizontal_margin);
    .hint{
      margin: 0;
    }
  }

  .input.check_boxes{
    input.check_boxes{
      display: list-item;
      margin-left: 0;
      //vertical-align: -3px;
      margin-left: $label_width + (2 * $label_horizontal_margin);
      & + label{
        position: relative;
        left: $label_width + (4 * $label_horizontal_margin);
        top: -23px;
        margin: 0;
        float: none;
      }
    }
  }

  .link-field{
    .input{
      margin-left: $label_width + (2 * $label_horizontal_margin);
      position: relative;
      top: -15px;
      margin-bottom: 0px;
    }
  }

  .actions{
    clear: both;
    width: 100%;
    margin: 10px auto;
    margin-left: 350px;
    a{
     color: #fff;
     font-size: 13px;
     background: #2C4056; 
     border-top: 2px solid #507AAA;
     border-left: 2px solid #507AAA;
     border-right: 2px solid #000;
     border-bottom: 2px solid #000;
     margin: 0 5px; 
     padding: 3px;
     float: left;
    }
  }

}
button, input[type='submit'] {
  color: #fff;
  cursor:pointer;
  background: #229316;
  border-top: 2px solid #55c649;
  border-left: 2px solid #55c649;
  border-right: 2px solid #006000;
  border-bottom: 2px solid #006000;
  margin: 0 5px; 
}

input{
  display: inline;
  margin: 5px 0;
  border: 1px solid gray;
  padding: 3px;

  &:focus{
    border: 1px solid black;
    @include box_shadow(0 0 28px 1px #aaa);
    outline: none;
  }
}
select:active,
select:focus{
  background-color: #faffbd;
  outline:none;
}
