/*Variables*/
$main-opacity: 0.7;
$main-color: rgba(255, 255, 255, $main-opacity);
$menu-line-height: 23px;
$menu-background: $main-color;
$menu-text-color: rgb(0, 0, 0);
$menu-border: 1px solid lighten($menu-background, 50%);

#weby_bar{
  height: $menu-line-height;
  background-color: opacify($menu-background, 1);
  background-color: $menu-background;
  border-bottom: $menu-border; 
  filter: alpha(opacity= $main-opacity * 100);
}

.left{float: left}
.right{float: right}

.top_menu {
  top: 0;
  line-height: $menu-line-height;
  color: $menu-text-color !important;

  menu { 
    padding: 0 2px;
    margin: 0;
    list-style: none outside none;
    z-index: 999;

    & > a {
      display: block;
      color: $menu-text-color !important;
      overflow: hidden;
      white-space:nowrap;
    }

    & > li{
      padding: 0 10px;
      float: left;
      position: relative;
      margin: auto;

      & > menu {
        position: absolute;
        padding: 0;
        left: 0;
        top: $menu-line-height+0.5px;
        display: none;
        li {
          width: 100%;
          padding: 3px;
          padding-right: 0px;
          background-color: $menu-background;
          border:{
            botom: $menu-border;
            left: $menu-border;
            right: $menu-border;
          }
        }
      }

      &.sub.to_left > menu  {
        left: -150px;
      }

      &:hover {
        background-color: darken(opacify($menu-background, 1), 10%);

        & > menu {
          display: block;
          li:hover > menu {
            border:{
              left: $menu-border;
              right: $menu-border;
            }
            top: 20px;
            z-index: 900px; 
          }
        }
      }

      &.sub > a:after {
        content: url("../images/arrow_collapsed.png");
        position: relative;
        top: 3px;
        right: 0;
      }
      &.sub:hover > a:after {
        content: url("../images/arrow_expanded.png");
      }
    }
  }
}
