/*Variables*/
$main-color: #dddddd;
$menu_line_height: 23px;
$menu_background: $main-color;
$menu_text_color: $main-color / 7;
$menu_border: 1px solid lighten($menu_background, 50%);

nav#weby_bar {
  top:0;
  width:100%;
  padding-left: 5px;
  line-height: $menu_line_height;
  color: $menu_text_color;
  background-color: $menu_background;
  border-bottom: $menu_border; 

  menu { 
    padding: 0;
    margin: 0;
    background-color: inherit;
    list-style: none outside none;
    z-index: 999;

    li{
      a{
        width: 100%;
      }

      &:hover {
        position: relative;
        background-color: darken($menu_background, 10%);
        z-index: 100px;

        & > menu {
          left: 0px;
          top: $menu_line_height;
        }

        menu li:hover > menu {
          border:{
            left: $menu_border;
            right: $menu_border;
            top: $menu_border;
          }
          left: 83%;
          top: 2px;
          z-index: 900px; 
        }
      }

      &.sub > a:after {
        content: url("../images/arrow_collapsed.png");
        position: relative;
        top: 3px;
        right: 0;
      }

      &.sub:hover > a:after {
        content: url("../images/arrow_expanded.png");
        position: relative;
        top: 3px;
        right: 0;
      }

      & > menu {
        position: absolute;
        left: -9999px;
        margin-left: 20px;
        border:{
          left: $menu_border;
          right: $menu_border;
        }

        li {
          width: 100%;
          border-bottom: $menu_border;
          padding: 2px 5px;
        }
      }

      menu li:hover > menu {
        top: 20px;
      }
    }

    & > li {
      padding: 0 10px;
      float: left;
      background-color: $menu_background;

      a {
        display: block;
        color: $menu_text_color;
        overflow: hidden;
        white-space:nowrap;
      }
    }
  }
}
