/*Variables*/
$main-color: rgba(255, 255, 255, 0.7);
$menu_line_height: 23px;
$menu_background: $main-color;
$menu_text_color: rgba(0, 0, 0, 1);
$menu_border: 1px solid lighten($menu_background, 50%);

#weby_bar{
  height: $menu_line_height;
  background-color: $menu_background;
  border-bottom: $menu_border; 
}

.left{float: left}
.right{float: right}

.top_menu {
  top:0;
  line-height: $menu_line_height;
  color: $menu_text_color !important;
  border-bottom: $menu_border; 

  menu { 
    padding: 0 2px;
    margin: 0;
    list-style: none outside none;
    z-index: 999;

    li{
      &:hover {
        position: relative;
        z-index: 100px;

        & > menu {
          padding: 0;
          left: 0px;
          top: $menu_line_height+0.5px;
        }
        menu li:hover > menu {
          border:{
            left: $menu_border;
            right: $menu_border;
          }
          top: 2px;
          z-index: 900px; 
        }
      }

      &.sub > a:after {
        content: url("../images/arrow_collapsed.png");
        position: relative;
        top: 3px;
        right: 0;
      }
      &.sub:hover > a:after {
        content: url("../images/arrow_expanded.png");
        position: relative;
        top: 3px;
        right: 0;
      }
      & > menu {
        position: absolute;
        display: none;
        li {
          width: 100%;
          padding: 3px;
          padding-right: 0px;
          background-color: $menu_background;
          border:{
            botom: $menu_border;
            left: $menu_border;
            right: $menu_border;
          }
        }
      }
      &:hover > menu {
        display: block;
      }
      menu li:hover > menu {
        top: 20px;
      }
    }
    & > li {
      padding: 0 10px;
      float: left;

      &:hover{
        background-color: darken(opacify($menu_background, 1), 10%);
      }
    }
    a {
      display: block;
      color: $menu_text_color !important;
      overflow: hidden;
      white-space:nowrap;
    }
  }
}
