<h4>
  <%= t(".fill_email_form") %>
</h4>
<%= form_tag password_sent_path do %>
  <div class="control-group">
    <label class="string control-label required">
      <abbr title="obrigatório">*</abbr> Email
    </label>
    <div class="controls">
      <%= text_field_tag "email", "#{params[:email]}", class: "string" %>
    </div>
  </div>
  <%= submit_tag t('submit'), class: 'btn btn-primary btn-large', disable_with: t("please_wait") %>
<% end %>
