<%= form_tag admin_activity_records_path, method: 'get', autocapitalize: "off", class: 'search' do %>
  <div class="row">
    <div class="col-md-5">
      <%= search_input params[:search] %>
    </div>
    <div class="col-md-4">
      <%= select_tag :site_id, options_for_select(Site.all.map{ |site| [site.title || site.name, site.id] }, params[:site_id]), include_blank: true,
        class: 'form-control' %>
    </div>
    <div class="col-md-3"></div>
  </div>
<% end %>

<div id="list">
  <%= render :partial => "list" %>
</div>
