<%# Não inclua essa partial, utilize a função helper 'image_size_picker' %>
<% content_for :javascripts, javascript_include_tag('image_size_picker') %>
<% content_for :stylesheets, stylesheet_link_tag('image_size_picker') %>
<div class="image-size-picker">
  <% repo_styles = Repository.attachment_definitions[:archive][:styles].select{|k,v| [:i,:l,:m,:o].include?(k) } %>
  <% if !repo_styles.nil? %>
    <% styles = repo_styles.merge({nil => t("custom")}) %>
    <%= f.input :size,
      collection: styles,
      boolean_style: :nested,
      label_method: lambda { |u| "<div class=\"outer\"><label>#{u[1]}</label>#{u[0] ? "<div class=\"box #{u[0]}\"></div>" : "<div class=\"custom-size\">#{f.input :width, :as => :integer}#{f.input :height, :as => :integer}</div>"}</div>".html_safe },
      value_method: lambda { |u| "#{u[0]}" },
      as: :radio_buttons %>
  <% end %>
</div>
