<div class="btn-group">
  <%= link_to icon('th', white: true), {repository_view: 'thumbs'}, class: "btn btn-default", title: t(".repository_as_thumbs") %>
  <%= link_to icon('list', white: true), {repository_view: 'list'}, class: "btn btn-default", title: t(".repository_as_list") %>
</div>
<div class="clearfix"></div>
