
/***** General ****/
html{ color: white; background-color: black;}
#wrapper{ color: white; background-color: black; border-color: white;}

/****** Links ******/
a, a:link, a:visited, a:hover, a:active { color: white !important; }


/***** Fieldset *****/
fieldset{ background-color: black; border: 1px solid white;}
legend { color: white; background-color: black; border: 1px solid white;} 

/***** Tables *****/
table.list {border: 1px solid white; color: white;}
table.list th {background-color: black;}
table.list tbody tr:hover {background-color: #6c6c66;}

table.list td.dark { background-color: #5e5e59; }

table.list tr:nth-child(odd), .odd {background-color: black;}
table.list tr:nth-child(even), .even {background-color: #282828;}

/***** Flash & error messages ****/
#errorExplanation, div.flash, .nodata, .warning{
  border: 2px solid white;
}
div.flash.error{
  background-color: black;
  border-color: white;
  color: white;
}
div.flash.notice{
  background-color: black;
  border-color: white;
  color: white;
}
div.flash.warning{
  background-color: black;
  border-color: white;
  color: white;
}

/* Simula botão usado nos menus e pages  */
.simples_box{
  border: 1px solid white;
  background-color; black;
}

#main-tabs {background-color: black; border: 1px solid white;}
#tabs {background-color: black !important; color: black;} 
#tabs li {background: black;}
#tabs li a.selected, #main-menu li a.selected:hover {background:black; color:white text-decoration:underline;}

/*** Feedbacks ***/
#feedback_sent{
  border: 1px solid white;
  background-color: black;
  color: white;
}
#users_unroled {border: 1px solid white;}

/*** Menu ***/

aside menu li {border: 1px solid white;}
aside menu li > a {background-color: black !important;}
aside menu li:hover {background-color: black; text-decoration:underline;}
aside menu li a {color: white;}
aside menu li.sub:hover {border: 1px solid white;}

    aside.right menu li {background-color: black;}

/** Form ***/
   .simple_form div.input:hover label {
     color: white;
     text-decoration:underline;
   }

/** Button **/
   button, input[type="submit"] {
     color: white;
     background: black;
     border: 2px solid white !important;
   }

/*** Other ***/
summary#csses {
  color: white;
  background-color: black;
  border: 1px solid white;
}

details#csses {
  border: 1px solid white;
  background-color: black;
}

