#link-to-include-one-file {
  margin: 10px 15px;
  width: 113px;
  height: 85px;
  padding: 5px;
  text-align: center;
  z-index: 9999;
  border: 3px dashed gray !important;
  background: none !important; }
  #link-to-include-one-file a {
    border: none;
    background: none; }
  #link-to-include-one-file ul, #link-to-include-one-file li {
    text-align: center;
    padding: 0;
    margin: 0; }
  #link-to-include-one-file li {
    margin-top: 5px; }
    #link-to-include-one-file li label {
      border: none;
      background: none; }
