#institutional_bar {
  height: 26px;
  line-height: 26px;
  color: black;
  width: 100%;
  background: #cccccc; }
  #institutional_bar .content {
    margin: 0 auto; }
    #institutional_bar .content aside {
      width: auto; }
    #institutional_bar .content .left {
      clear: left;
      float: left;
      padding-left: 7px; }
      #institutional_bar .content .left a {
        color: black;
        font-size: 16px; }
      #institutional_bar .content .left img {
        height: 20px;
        padding: 3px;
        vertical-align: top; }
      #institutional_bar .content .left .name {
        padding: 5px 2px; }
    #institutional_bar .content .right {
      clear: right;
      float: right;
      text-align: right;
      padding-right: 10px; }
      #institutional_bar .content .right select {
        font-size: 11px;
        margin: 3px 0;
        padding: 1px;
        height: 19px;
        width: 135px; }
