div.barra_ufg { 
  margin: 2px auto 0 auto; 
  background: #ccc;
  font-family: Tahoma, sans-serif;
  font-size: 12pt;
  width: 100%; }
  div.barra_ufg div.barra_ufg_box { padding: 4px 8px; }
    div.barra_ufg div.barra_ufg_box img {
      vertical-align: bottom;
      padding-right: 5px; }
    div.barra_ufg div.barra_ufg_box select {
      float: right;
      width: 150px;
      height: 21px;
      font-size: 12px; }
    div.barra_ufg div.barra_ufg_box a {
      text-decoration: none;
      color: #000; }
      div.barra_ufg div.barra_ufg_box a:hover {
        text-decoration: underline;
        color: #000; }
