fieldset.login_embedded {
  margin: 5px !important;
  padding: 15px !important;
  line-height: normal;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }
  fieldset.login_embedded:parent {
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px; }
  fieldset.login_embedded div.text-field, fieldset.login_embedded div.password-field {
    border: 0;
    margin: 0; }
    fieldset.login_embedded div.text-field label, fieldset.login_embedded div.password-field label {
      display: inline !important;
      width: 100% !important; }
  fieldset.login_embedded .input.boolean input[type="checkbox"] {
    float: left;
    margin-right: 5px; }
  fieldset.login_embedded label {
    width: 100% !important;
    float: none !important;
    margin: 0 !important;
    color: #444444;
    text-align: left !important;
    font-size: 16px !important;
    font-weight: bold !important;
    font-family: Sans; }
  fieldset.login_embedded legend {
    display: none; }
  fieldset.login_embedded .actions button, fieldset.login_embedded .actions input[type='submit'] {
    margin-left: 0px;
    float: right; }
