  /* Define style to menu in side area */
  aside menu { padding: 0; margin: 0; }
  aside menu li { position: relative; margin: 0; list-style-type: none; border: 1px solid silver; }
  aside menu li > a { background-color: #FFF; }
  aside menu li:hover { background-color: #FF0000; }
  aside menu li:hover > menu { display: block; position: absolute; top: -1px; }
  aside menu li menu { width: 155px; display: none; border-width: 0px; }
  aside menu li a { display: block; padding: 5px 7px; text-decoration: none; }
  aside menu li.sub:hover { margin-right: 0px; border: 1px solid gray; }
  aside menu li.sub > a { font-weight: bold; }

    aside.right menu li { padding: 0 5px 0 0; }
    aside.right menu li > a { text-align: right; }
    aside.right menu li.sub > a { background: url("../images/arrow_collapsed_right.png") no-repeat scroll transparent; background-position: left center; }
    aside.right menu li.sub:hover > menu { left: -155px; z-index: 1 }

    aside.left menu li { padding: 0 0 0 5px; z-index: 1;}
    aside.left menu li > a { text-align: left; }
    aside.left menu li.sub > a { background: url("../images/arrow_collapsed.png") no-repeat scroll transparent; background-position: right center;}
    aside.left menu li.sub:hover > menu { right: -155px; z-index: 1 }

