/* To work with HTML5 more easy */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* Define basic style to layout */
html { background: black !important; }

/*Links*/
a, a:link, a:visited { color: white !important; text-decoration: none; }
a:hover, a:active { color: white !important; text-decoration: underline; }
a img{ border: 0; text-decoration: none;}

/*Legends*/
legend {
background-color: black !important;
border: 1px solid white !important;
color: white !important;
font-size: 130%;
font-weight: bold;
padding: 5px;
}

/***** Tables *****/
table.list { border: 1px solid #e4e4e4;  border-collapse: collapse; width: 100%; margin-bottom: 0px; }
table.list th { background-color: black !important; padding: 4px; /*white-space:nowrap;*/ }
table.list td { vertical-align: top; }
table.list td.id { width: 2%; text-align: center;}
table.list td.checkbox { width: 15px; padding: 0px;}
table.list td.buttons { width: 15%; white-space:nowrap; text-align: right; }
table.list td.buttons a { padding-right: 0.6em; }
 
 table.list tbody tr.group td { padding: 0.8em 0 0.5em 0.3em; font-weight: bold; border-bottom: 1px solid #ccc; }
 table.list tbody tr.group span.count { color: #aaa; font-size: 80%; }
 table.list tbody tr:hover { background-color:#AAAAAA; }
 table.list tbody tr.group:hover { background-color:inherit; }
 table td {padding:2px;}
 table p {margin:0;}
 .odd {background-color: black !important;}
 .even {background-color: #555;}
 .box{ padding:6px; margin-bottom: 10px; background-color: black !important; color:black; line-height:1.5em; border: 1px solid #e4e4e4; }

 form {display: inline;}
 input, select {vertical-align: middle; margin-top: 1px; margin-bottom: 1px;}
 hr { width: 100%; height: 1px; background: #ccc; border: 0;}

/*Fildset*/
fieldset {
background-color: black !important;
border: 1px solid #E4E4E4;
width: auto;
}

body {
  font-family: Verdana, sans-serif; 
  color:white !important;
	background: black !important;
  width: auto;
  margin: 0 auto; }
#wrapper {
	background: black !important;
  border: 2px solid white !important;
	color: white !important;
  border-top: none }

/* Define style to Header, Footer and contents */
header,
footer { }

  /* Define footer information */
  footer section#info { padding: 0 0 5px 5px; }
    footer section#info p { margin: 0; }

  /* Define area of top image */
  /*header figure#cover { overflow: hidden; }*/
  header figure#cover { margin: 0px; }

  /* Define Header and Footer menus */
  header > nav { padding: 0px 5px 5px 0px; }
  footer > nav { padding: 5px 5px 5px 0px; }

    header nav menu,
    footer nav menu { list-style: none outside none; padding: 0; margin: 0; }
    header nav menu li,
    footer nav menu li { padding: 0 0 0 5px; margin-right: 2px; float: left; border: 2px solid white !important; }
    header nav menu li:hover,
    footer nav menu li:hover { position: relative; z-index: 100; background-color: white !important; }
    header nav menu li:hover > menu,    		
    footer nav menu li:hover > menu {	left: -21px; z-index: -1; }
    header nav menu li:hover menu li:hover > a,
    footer nav menu li:hover menu li:hover > a { white-space: normal; height: auto; }
    header nav menu li:hover menu li:hover > menu,
    footer nav menu li:hover menu li:hover > menu { left: 105px; z-index: 100; }
    header nav menu li menu,
    footer nav menu li menu { position: absolute; left: -9999px; margin-left: 20px; width: 105px; }
    header nav menu li menu li menu,
    footer nav menu li menu li menu { margin-left: 0px; margin-top: 0px; }
    header nav menu li a,
    footer nav menu li a { background: black !important; display: block; line-height: 25px; margin: 0; padding-left: 5px; width: 81px; padding-right: 14px; }
    header nav menu li > a,
    footer nav menu li > a { text-overflow: ellipsis; overflow: hidden; white-space:nowrap; }
    header nav > menu > li:hover > a,
    footer nav > menu > li:hover > a { min-width: 82px; width: auto;  }
    header nav menu li.sub > a,
    footer nav menu li.sub > a { background: url("../images/arrow_collapsed.png") no-repeat scroll black !important; background-position: 80px center; }
    header nav > menu > li.sub > a { background: url("../images/arrow_expanded.png") no-repeat scroll black !important; background-position: right center; }
    footer nav > menu > li.sub > a { background: url("../images/arrow_expanded_up.png") no-repeat scroll black !important; background-position: right center; }

      header nav menu li:hover > menu { top: 26px; }
      header nav menu li:hover menu li:hover > menu { top: -1px; }

      footer nav menu li:hover > menu { bottom: 26px; }
      footer nav menu li:hover menu li:hover > menu { bottom: -1px; }

/* Define side area and contents */
aside { width: 155px; position: relative; }

  /* Define style to menu in side area */
  /* aside > menu { width: 5em; } */
  aside menu { padding: 0; margin: 0; }
  aside menu li { position: relative; margin: 0; list-style-type: none; border: 2px solid white !important; }
  aside menu li > a { background-color: black !important; }
  aside menu li:hover { background-color: white !important; }
  aside menu li:hover > menu { display: block; position: absolute; top: -1px; }
  aside menu li menu { width: 155px; display: none; border-width: 0px; }
  aside menu li a { display: block; padding: 5px 7px; text-decoration: none; }
  aside menu li.sub:hover { margin-right: 0px; border: 1px solid gray; }
  aside menu li.sub > a { font-weight: bold; }
  aside menu li.sub > a { color: white!important; }
  aside menu li.sub > a:hover { color: white!important; }
  aside menu li a:hover,
  header nav menu li a:hover,
  footer nav menu li a:hover { color: white!important; }

    aside.right menu li { padding: 0 5px 0 0; }
    aside.right menu li > a { text-align: right; }
    aside.right menu li.sub > a { background: url("../images/arrow_collapsed_right.png") no-repeat scroll black !important; background-position: left center; }
    aside.right menu li.sub:hover > menu { left: -155px; z-index: 1 }

    aside.left menu li { padding: 0 0 0 5px; z-index: 1;}
    aside.left menu li > a { text-align: left; }
    aside.left menu li.sub > a { background: url("../images/arrow_collapsed.png") no-repeat scroll; background-color: black!important; background-position: right center;}
    aside.left menu li.sub:hover > menu { right: -155px; z-index: 1 }

/* Define content area */
section#content {
  width: auto;
  padding: 5px;
  padding-top: 0;
  overflow: hidden; }
  section#content nav#admin { padding-bottom: 5px; }
  section#content section#pages {
    font-family: Verdana;
    font-weight: Normal;
    padding-bottom:5px; }
    section#content section#pages h1 {
      font-size: 160%;
      color: white !important; }
    section#content section#pages h2 {
      line-height: 100%;
      color: white !important;
      font-size: 140%; }
    section#content section#pages h3 {
      font-size: 120%;
      line-height: 100%;
      color: white !important; }
    section#content section#pages p { }

    section#content section#pages .pageleft { border-bottom: 1px dotted #DDD; padding: 0px 0 10px 0; text-align: left; }
    section#content section#pages .pageleft a img { float: left; padding-right: 15px; }
    section#content section#pages .pageright { border-bottom: 1px dotted #DDD; padding: 0px 0 10px 0; text-align: right; }
    section#content section#pages .pageright a img { float: right; padding-left: 15px; }

figure#banner {
  margin: 0;
  text-align: center;
  padding-top: 5px; }

/* Classes to help build layout */
.clear { clear: both; }
.center { text-align: center; }
.left { float: left; }
.right { float: right; }

table.zebra tr:nth-child(2n+2) { background-color: black !important; }
table.fullwidth { width: 100%; }
table.border,
table.border th,
table.border td {
  border-collapse: collapse;
  border: 1px solid white !important;
}

table th,
table td { padding: 3px; }
table th { font-size: 13px; }
