.paginator {
  display: block;
  width: 100%
}

.page_info_paginator{ float: left }
.per_page_paginator { float: right; }

.page_info_paginator,
.per_page_paginator { margin-bottom: 5px }

.pages_paginator {
  text-align: center;
  padding: 3px;
  margin: 3px;
}

.disabled{
  color: #999;
}

.item_per_page_paginator a,
.pages_paginator a {
  padding: 2px 5px;
  margin: 2px;
  border: 1px solid #d7d7d7;
  text-decoration: none; /* no underline */
  color: #000;
}

.item_per_page_paginator a:hover,
.pages_paginator a:hover, div.digg a:active {
  border: 1px solid #000;
  color: #000;
}

.pages_paginator span.current,
.per_page_paginator span.current{
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000;
  font-weight: bold;
  background-color: #000;
  color: #FFF;
}

.pages_paginator span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #EEE;
  color: #DDD;
}
