.simple_form .pages_paginator {
  float: none; }
.simple_form div.input {
  clear: both;
  margin-bottom: 15px; }
  .simple_form div.input:hover label {
    color: black; }
.simple_form label {
  font-size: 11px;
  font-familly: Verdana;
  cursor: pointer;
  float: left;
  width: 120px;
  text-align: right;
  margin: 2px 10px; }
  .simple_form label abbr {
    color: red; }
.simple_form .hint {
  color: #555;
  display: block;
  margin-left: 140px;
  width: 200px;
  font-size: 11px;
  font-style: italic; }
.simple_form label.collection_radio {
  float: none;
  margin: 0;
  padding: 0;
  vertical-align: -2px;
  margin-right: 10px;
  margin-left: 2px; }
.simple_form .radio-group-images {
  display: table; }
  .simple_form .radio-group-images > input[type=radio] {
    display: none; }
    .simple_form .radio-group-images > input[type=radio] + label.collection_radio > img {
      padding: 4px 2px;
      margin: 5px; }
.simple_form .radio-group-images-selected, .simple_form .radio-group-images > input[type=radio]:checked + label.collection_radio > img, .simple_form .radio-group-images > input[type=radio] + label.collection_radio > img:hover {
  margin: 4px 2px;
  padding: 2px;
  border: 3px solid red; }
.simple_form #selected-image-of-radio-group-images {
  margin-top: 15px; }
  .simple_form #selected-image-of-radio-group-images input {
    display: none; }
  .simple_form #selected-image-of-radio-group-images:hover::before {
    content: url(../images/apagar.gif);
    position: relative;
    top: -50px;
    right: 0; }
.simple_form .field_with_errors {
  background-color: #ff3333; }
.simple_form input.radio {
  margin-right: 5px;
  vertical-align: -3px; }
.simple_form .collection_check_boxes .check_boxes, .simple_form .radio-group {
  vertical-align: -3px;
  margin-left: 140px; }
  .simple_form .collection_check_boxes .check_boxes .hint, .simple_form .radio-group .hint {
    margin: 0; }
.simple_form .input.check_boxes input.check_boxes {
  display: list-item;
  margin-left: 0;
  margin-left: 140px; }
  .simple_form .input.check_boxes input.check_boxes + label {
    position: relative;
    left: 160px;
    top: -23px;
    margin: 0;
    float: none; }
.simple_form .link-field .input {
  margin-left: 140px;
  position: relative;
  top: -15px;
  margin-bottom: 0px; }
.simple_form .actions {
  clear: both;
  width: 100%;
  margin: 10px auto;
  margin-left: 435px; }
  .simple_form .actions a {
    color: #fff;
    font-size: 14px;
    background: #2C4056;
    border-top: 2px solid #507AAA;
    border-left: 2px solid #507AAA;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    margin: 0 5px;
    float: left; }

button, input[type='submit'] {
  color: #fff;
  cursor: pointer;
  background: #229316;
  border-top: 2px solid #55c649;
  border-left: 2px solid #55c649;
  border-right: 2px solid #006000;
  border-bottom: 2px solid #006000;
  margin: 0 5px; }

input {
  display: inline;
  margin: 5px 0;
  border: 1px solid gray;
  padding: 3px; }
  input:focus {
    border: 1px solid black;
    -moz-box-shadow: 0 0 28px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 28px 1px #aaaaaa;
    box-shadow: 0 0 28px 1px #aaaaaa;
    outline: none; }

select:active,
select:focus {
  background-color: #faffbd;
  outline: none; }
