.simple_form {
  font-size: 12px; }
  .simple_form .pages_paginator {
    float: none; }

div.input {
  clear: both;
  margin-bottom: 15px; }
  div.input:hover label {
    color: black; }

div.input.image_list {
  padding-bottom: 25px; }

.hint {
  color: #555;
  display: block;
  margin-left: 140px;
  width: 200px;
  font-size: 11px;
  font-style: italic; }

label.collection_radio {
  float: none;
  margin: 0;
  padding: 0;
  vertical-align: -2px;
  margin-right: 10px;
  margin-left: 2px; }

.radio-group-images {
  display: table; }
  .radio-group-images > input[type=radio] {
    display: none; }
    .radio-group-images > input[type=radio] + label.collection_radio > img {
      padding: 4px 2px;
      margin: 5px; }

.radio-group-images-selected, .radio-group-images > input[type=radio]:checked + label.collection_radio > img, .radio-group-images > input[type=radio] + label.collection_radio > img:hover {
  margin: 4px 2px;
  padding: 2px;
  border: 3px solid red; }

#selected-image-of-radio-group-images {
  margin-top: 15px; }
  #selected-image-of-radio-group-images input {
    display: none; }
  #selected-image-of-radio-group-images:hover::before {
    content: url(../images/apagar.gif);
    position: relative;
    top: -50px;
    right: 0; }

.field_with_errors {
  background-color: #ff3333; }

input.radio {
  margin-right: 5px;
  vertical-align: -3px; }

.collection_check_boxes .check_boxes, .radio-group {
  vertical-align: -3px;
  margin-left: 140px; }
  .collection_check_boxes .check_boxes .hint, .radio-group .hint {
    margin: 0; }

.input.check_boxes input.check_boxes {
  display: list-item;
  margin-left: 0;
  margin-left: 140px; }
  .input.check_boxes input.check_boxes + label {
    position: relative;
    left: 160px;
    margin: 0;
    float: none; }

.actions {
  clear: both;
  width: 100%;
  margin: 10px auto; }
  .actions a {
    color: #fff;
    font-size: 13px;
    padding: 3px;
    float: left;
    cursor: pointer;
    background: #2c4056;
    margin: 0 5px;
    border-top: 2px solid #507aaa;
    border-left: 2px solid #507aaa;
    border-right: 2px solid black;
    border-bottom: 2px solid black; }

button, input[type='submit'] {
  color: #fff;
  cursor: pointer;
  background: #229316;
  margin: 0 5px;
  border-top: 2px solid #55c649;
  border-left: 2px solid #55c649;
  border-right: 2px solid #006000;
  border-bottom: 2px solid #006000; }

input, select, textarea {
  display: inline;
  margin: 5px 0;
  border: 1px solid gray;
  padding: 3px; }
  input:focus, select:focus, textarea:focus {
    border: 1px solid black;
    background-color: #faffbd;
    outline: none;
    -moz-box-shadow: 0 0 28px 1px #aaaaaa;
    -webkit-box-shadow: 0 0 28px 1px #aaaaaa;
    box-shadow: 0 0 28px 1px #aaaaaa; }

.link-field {
  margin: 15px 0; }
  .link-field span {
    color: black;
    border: 1px solid black;
    background-color: #ccf6b3;
    padding: 5px 8px;
    font-weight: bold; }
  .link-field a {
    color: gray;
    border: 1px solid gray;
    padding: 5px 8px; }
  .link-field .input {
    margin-left: 140px;
    position: relative;
    margin-bottom: 0px; }

label {
  font-size: 12px;
  font-familly: Verdana;
  cursor: pointer;
  float: left;
  width: 120px;
  text-align: right;
  margin: 0 10px; }
  label abbr {
    color: red; }

.input label {
  margin: 5px 10px; }
