* {
  font-family: Verdana, sans-serif; }

.pages_paginator {
  float: none !important; }

.image_list {
  padding-bottom: 25px; }

form {
  font-size: 14px; }
  form *:focus {
    outline: none; }

::-webkit-validation-bubble-message {
  padding: 1em; }

.input {
  clear: both;
  padding: 12px;
  border-bottom: 1px solid #e4e4e4; }
  .input.boolean, .input.check_boxes {
    position: relative;
    overflow: hidden; }
    .input.boolean label, .input.check_boxes label {
      margin-left: 20px; }
    .input.boolean input[type="checkbox"], .input.check_boxes input[type="checkbox"] {
      position: absolute;
      top: 2px; }

select {
  height: 33px;
  padding: 5px 8px;
  width: 200px; }
  select[multiple=multiple] {
    height: auto; }

input[type=checkbox] {
  margin: 0; }

label {
  width: auto;
  display: block;
  padding-bottom: 8px;
  cursor: pointer; }
  label abbr {
    color: red; }
  label.collection_radio {
    margin-right: 10px;
    margin-left: 2px;
    float: none;
    margin: 0;
    padding: 0;
    vertical-align: -2px; }

input[type=url],
input[type=number],
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=color],
input[type=date],
input[type=tel],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local] {
  line-height: 13px !important;
  font-size: 13px;
  appearance: normal;
  -moz-appearance: none;
  -webkit-appearance: none;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  height: 20px;
  width: 200px;
  padding: 5px 8px; }

textarea {
  padding: 8px;
  height: 100px;
  width: 416px; }
  textarea.css-editor {
    height: 400px;
    width: 95% }

input[type=url],
input[type=number],
input[type=text],
input[type=password],
input[type=email],
input[type=color],
input[type=date],
input[type=tel],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=search],
input[type=datetime-local],
textarea {
  border: 1px solid #aaa;
  padding-right: 30px; }
  input[type=url]:focus,
  input[type=number]:focus,
  input[type=text]:focus,
  input[type=password]:focus,
  input[type=email]:focus,
  input[type=color]:focus,
  input[type=date]:focus,
  input[type=tel]:focus,
  input[type=month]:focus,
  input[type=week]:focus,
  input[type=time]:focus,
  input[type=datetime]:focus,
  input[type=search]:focus,
  input[type=datetime-local]:focus,
  textarea:focus {
    background: #fff;
    border: 1px solid #555;
    box-shadow: 0 0 3px #aaa; }
    input[type=url]:focus:invalid,
    input[type=number]:focus:invalid,
    input[type=text]:focus:invalid,
    input[type=password]:focus:invalid,
    input[type=email]:focus:invalid,
    input[type=color]:focus:invalid,
    input[type=date]:focus:invalid,
    input[type=tel]:focus:invalid,
    input[type=month]:focus:invalid,
    input[type=week]:focus:invalid,
    input[type=time]:focus:invalid,
    input[type=datetime]:focus:invalid,
    input[type=search]:focus:invalid,
    input[type=datetime-local]:focus:invalid,
    textarea:focus:invalid {
      background: white url(../images/invalid.png) no-repeat 98% center;
      box-shadow: 0 0 5px #d45252;
      border-color: #b03535; }
  input[type=url]:required,
  input[type=number]:required,
  input[type=text]:required,
  input[type=password]:required,
  input[type=email]:required,
  input[type=color]:required,
  input[type=date]:required,
  input[type=tel]:required,
  input[type=month]:required,
  input[type=week]:required,
  input[type=time]:required,
  input[type=datetime]:required,
  input[type=search]:required,
  input[type=datetime-local]:required,
  textarea:required {
    background: white url(../images/red_asterisk.png) no-repeat 98% center; }
    input[type=url]:required:valid,
    input[type=number]:required:valid,
    input[type=text]:required:valid,
    input[type=password]:required:valid,
    input[type=email]:required:valid,
    input[type=color]:required:valid,
    input[type=date]:required:valid,
    input[type=tel]:required:valid,
    input[type=month]:required:valid,
    input[type=week]:required:valid,
    input[type=time]:required:valid,
    input[type=datetime]:required:valid,
    input[type=search]:required:valid,
    input[type=datetime-local]:required:valid,
    textarea:required:valid {
      background: white url(../images/valid.png) no-repeat 98% center;
      box-shadow: 0 0 5px #5cd053;
      border-color: #28921f; }

.hint {
  display: block;
  font-size: 11px;
  padding-top: 2px; }

input[type=url]:required:valid + .hint,
input[type=text]:required:valid + .hint,
input[type=password]:required:valid + .hint,
input[type=email]:required:valid + .hint,
input[type=search]:required:valid + .hint,
input[type=color]:required:valid + .hint,
input[type=date]:required:valid + .hint,
input[type=tel]:required:valid + .hint,
input[type=month]:required:valid + .hint,
input[type=week]:required:valid + .hint,
input[type=time]:required:valid + .hint,
input[type=datetime]:required:valid + .hint,
input[type=datetime-local]:required:valid + .hint {
  background: #28921f; }
input[type=url]:required:valid + .hint::before,
input[type=text]:required:valid + .hint::before,
input[type=password]:required:valid + .hint::before,
input[type=email]:required:valid + .hint::before,
input[type=search]:required:valid + .hint::before,
input[type=color]:required:valid + .hint::before,
input[type=date]:required:valid + .hint::before,
input[type=tel]:required:valid + .hint::before,
input[type=month]:required:valid + .hint::before,
input[type=week]:required:valid + .hint::before,
input[type=time]:required:valid + .hint::before,
input[type=datetime]:required:valid + .hint::before,
input[type=datetime-local]:required:valid + .hint::before {
  color: #28921f; }
input[type=url]:focus + .hint,
input[type=text]:focus + .hint,
input[type=password]:focus + .hint,
input[type=email]:focus + .hint,
input[type=search]:focus + .hint,
input[type=color]:focus + .hint,
input[type=date]:focus + .hint,
input[type=tel]:focus + .hint,
input[type=month]:focus + .hint,
input[type=week]:focus + .hint,
input[type=time]:focus + .hint,
input[type=datetime]:focus + .hint,
input[type=datetime-local]:focus + .hint {
  display: inline; }
input[type=url] + .hint,
input[type=text] + .hint,
input[type=password] + .hint,
input[type=email] + .hint,
input[type=search] + .hint,
input[type=color] + .hint,
input[type=date] + .hint,
input[type=tel] + .hint,
input[type=month] + .hint,
input[type=week] + .hint,
input[type=time] + .hint,
input[type=datetime] + .hint,
input[type=datetime-local] + .hint {
  font-size: 11px;
  line-height: 24px;
  background: #d45252;
  color: white;
  margin-left: 8px;
  padding: 1px 6px;
  z-index: 999;
  position: absolute;
  display: none; }
  input[type=url] + .hint::before,
  input[type=text] + .hint::before,
  input[type=password] + .hint::before,
  input[type=email] + .hint::before,
  input[type=search] + .hint::before,
  input[type=color] + .hint::before,
  input[type=date] + .hint::before,
  input[type=tel] + .hint::before,
  input[type=month] + .hint::before,
  input[type=week] + .hint::before,
  input[type=time] + .hint::before,
  input[type=datetime] + .hint::before,
  input[type=datetime-local] + .hint::before {
    content: "\25C0";
    color: #d45252;
    position: absolute;
    top: 1px;
    left: -6px; }

.green-button {
  border: none !important;
  color: white !important;
  background-color: #3D9400 !important; }
  .green-button:active {
    box-shadow: 0 0 10px 5px #356b0b inset !important;
    -webkit-box-shadow: 0 0 10px 5px #356b0b inset !important;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset !important;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset !important;
    -o-box-shadow: 0 0 10px 5px #356b0b inset !important; }
  .green-button:hover {
    background-color: #327b00 !important; }

.red-button {
  border: none !important;
  color: white !important;
  background-color: #D14836 !important; }
  .red-button:active {
    box-shadow: 0 0 10px 5px #A23727 inset !important;
    -webkit-box-shadow: 0 0 10px 5px #A23727 inset !important;
    -moz-box-shadow: 0 0 10px 5px #A23727 inset !important;
    -ms-box-shadow: 0 0 10px 5px #A23727 inset !important;
    -o-box-shadow: 0 0 10px 5px #A23727 inset !important; }
  .red-button:hover {
    background-color: #c13e2c !important; }

.blue-button, .search-button, .add-button, .folder-button {
  border: none !important;
  color: white !important;
  background-color: #4D90FE !important; }
  .blue-button:active, .search-button:active, .add-button:active, .folder-button:active {
    box-shadow: 0 0 10px 5px #357AE8 inset !important;
    -webkit-box-shadow: 0 0 10px 5px #357AA2 inset !important;
    -moz-box-shadow: 0 0 10px 5px #357AA2 inset !important;
    -ms-box-shadow: 0 0 10px 5px #357AA2 inset !important;
    -o-box-shadow: 0 0 10px 5px #357AA2 inset !important; }
  .blue-button:hover, .search-button:hover, .add-button:hover, .folder-button:hover {
    background-color: #3480fe !important; }

.search-button {
  background-image: url("../images/icons/white16x16/ic_zoom.png ") !important;
  background-position: 10px center !important;
  background-repeat: no-repeat !important;
  padding-left: 35px !important; }

.add-button {
  background-image: url("../images/icons/white16x16/ic_plus.png ") !important;
  background-position: 10px center !important;
  background-repeat: no-repeat !important;
  padding-left: 35px !important; }

.folder-button {
  background-image: url("../images/icons/white16x16/ic_folder.png") !important;
  background-position: 10px center !important;
  background-repeat: no-repeat !important;
  padding-left: 35px !important; }

.actions {
  float: right;
  clear: both;
  margin: 10px auto; }

input[type=submit],
input[type=button],
input[type=reset],
button,
.button,
.green-button,
.red-button,
.blue-button,
.search-button,
.add-button,
.folder-button {
  font: 99% arial, helvetica, clean, sans-serif;
  box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  display: inline-block;
  margin: 0;
  font-size: 13px;
  line-height: 15px !important;
  color: black;
  font-weight: bold;
  padding: 9px 20px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #F3F3F3;
  border: 1px solid #DBDBDB; }
  input[type=submit]::-moz-focus-inner,
  input[type=button]::-moz-focus-inner,
  input[type=reset]::-moz-focus-inner,
  button::-moz-focus-inner,
  .button::-moz-focus-inner,
  .green-button::-moz-focus-inner,
  .red-button::-moz-focus-inner,
  .blue-button::-moz-focus-inner,
  .search-button::-moz-focus-inner,
  .add-button::-moz-focus-inner,
  .folder-button::-moz-focus-inner {
    border: none;
    padding: 0;
    margin: 0; }
  input[type=submit]:active,
  input[type=button]:active,
  input[type=reset]:active,
  button:active,
  .button:active,
  .green-button:active,
  .red-button:active,
  .blue-button:active,
  .search-button:active,
  .add-button:active,
  .folder-button:active {
    box-shadow: 0 0 10px 5px #DDD inset;
    -webkit-box-shadow: 0 0 10px 5px #DDD inset;
    -moz-box-shadow: 0 0 10px 5px #DDD inset;
    -ms-box-shadow: 0 0 10px 5px #DDD inset;
    -o-box-shadow: 0 0 10px 5px #DDD inset; }
  input[type=submit]:hover,
  input[type=button]:hover,
  input[type=reset]:hover,
  button:hover,
  .button:hover,
  .green-button:hover,
  .red-button:hover,
  .blue-button:hover,
  .search-button:hover,
  .add-button:hover,
  .folder-button:hover {
    background-color: #e6e6e6; }

.field_with_errors {
  background-color: #ff3333; }

.error {
  padding-left: 20px; }

.side {
  border: none !important;
  padding: 0;
  float: left;
  clear: none;
  margin-right: 10px; }

.nostyle {
  border: none !important;
  padding: 0; }

.element {
  margin-top: 8px; }

.datetimepicker {
  background-image: url("../images/icons/black16x16/ic_calendar.png") !important;
  background-position: 98% center !important;
  background-repeat: no-repeat !important; }

/* old style */
#page_type {
  margin-bottom: 10px !important; }
  #page_type label {
    display: inline !important; }

/* ### legacy ### */
.radio-group label {
  width: 120px;
  margin-top: 5px; }

.radio-group-images {
  display: table; }
  .radio-group-images label {
    float: left !important; }
  .radio-group-images > input[type=radio] {
    display: none; }
    .radio-group-images > input[type=radio] + label.collection_radio > img {
      padding: 4px 2px;
      margin: 5px; }

.radio-group-images-selected, .radio-group-images > input[type=radio]:checked + label.collection_radio > img, .radio-group-images > input[type=radio] + label.collection_radio > img:hover {
  margin: 4px 2px;
  padding: 2px;
  border: 3px solid red; }

#selected-image-of-radio-group-images {
  margin-top: 15px; }
  #selected-image-of-radio-group-images input {
    display: none; }
  #selected-image-of-radio-group-images:hover::before {
    content: url("../images/icons/black16x16/ic_cancel.png");
    position: relative;
    top: -25px;
    right: 0;
    margin-right: 5px; }

input.radio {
  margin-right: 5px; }

.radio label.collection_radio {
  display: inline; }
