/* To work with HTML5 more easy */
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* Define basic style to layout */
html { background: white; }
body {
  font-family: Verdana, sans-serif; 
  color:#484848;
  width: auto;
  margin: 0 auto; }

/* Define style to Header, Footer and contents */
header,
footer { }

  /* Define footer information */
  footer section#info { padding: 0; }
    footer section#info p { margin: 0; }

  /* Define area of top image */
  /*header div#topimage { overflow: hidden; }*/

  /* Define Header and Footer menus */
  header > nav { padding: 0px 0px 5px 0px; }
  footer > nav { padding: 5px 0px 5px 0px; }

    header nav menu,
    footer nav menu { list-style: none outside none; padding: 0; margin: 0; }
    header nav menu li,
    footer nav menu li { padding: 0 0 0 5px; margin-right: 2px; float: left; border: 1px solid silver; }
    header nav menu li:hover,
    footer nav menu li:hover { position: relative; z-index: 100; background-color: #FF0000; }
    header nav menu li:hover > menu,    		
    footer nav menu li:hover > menu {	left: -21px; z-index: -1; }
    header nav menu li:hover menu li:hover > menu,
    footer nav menu li:hover menu li:hover > menu { left: 105px; z-index: 100; }
    header nav menu li menu,
    footer nav menu li menu { position: absolute; left: -9999px; margin-left: 20px; width: 105px; }
    header nav menu li menu li menu,
    footer nav menu li menu li menu { margin-left: 0px; margin-top: 0px; }
    header nav menu li a,
    footer nav menu li a { background: #fff; display: block; line-height: 25px; margin: 0; padding-left: 10px; width: 90px; text-overflow: ellipsis; }
    header nav menu li.sub > a,
    footer nav menu li.sub > a { background: url("../images/arrow_collapsed.png") no-repeat scroll #fff; background-position: 80px center; }
    header nav > menu > li.sub > a { background: url("../images/arrow_expanded.png") no-repeat scroll #fff; background-position: 80px center; }
    footer nav > menu > li.sub > a { background: url("../images/arrow_expanded_up.png") no-repeat scroll #fff; background-position: 80px center; }

      header nav menu li:hover > menu { top: 26px; }
      header nav menu li:hover menu li:hover > menu { top: -1px; }

      footer nav menu li:hover > menu { bottom: 26px; }
      footer nav menu li:hover menu li:hover > menu { bottom: -1px; }

/* Define side area and contents */
aside { width: 155px; position: relative; }

  /* Define style to menu in side area */
  /* aside > menu { width: 5em; } */
  aside menu { padding: 0; margin: 0; }
  aside menu li { position: relative; margin: 0; list-style-type: none; border: 1px solid silver; }
  aside menu li > a { background-color: #FFF; }
  aside menu li:hover { background-color: #FF0000; }
  aside menu li:hover > menu { display: block; position: absolute; top: -1px; }
  aside menu li menu { width: 155px; display: none; border-width: 0px; }
  aside menu li a { display: block; padding: 5px 7px; text-decoration: none; }
  aside menu li.sub:hover { margin-right: 0px; border: 1px solid gray; }
  aside menu li.sub > a { font-weight: bold; }

    aside.right menu li { padding: 0 5px 0 0; }
    aside.right menu li > a { text-align: right; }
    aside.right menu li.sub > a { background: url("../images/arrow_collapsed_right.png") no-repeat scroll #FFF; background-position: 5px center; }
    aside.right menu li.sub:hover > menu { left: -155px; z-index: 1 }

    aside.left menu li { padding: 0 0 0 5px; z-index: 1;}
    aside.left menu li > a { text-align: left; }
    aside.left menu li.sub > a { background: url("../images/arrow_collapsed.png") no-repeat scroll #FFF; background-position: 125px center;}
    aside.left menu li.sub:hover > menu { right: -155px; z-index: 1 }

/* Define content area */
section#content {
  width: auto;
  padding: 5px;
  padding-top: 0;
  overflow: hidden; }
  section#content section#pages {
    font-family: Verdana;
    font-weight: Normal;
    padding-top:5px;
    padding-bottom:5px; }
    section#content section#pages h1 {
      font-size: 160%;
      color: #1C1C1C; }
    section#content section#pages h2 {
      line-height: 100%;
      color: #2F4F4F;
      font-size: 140%; }
    section#content section#pages h3 {
      font-size: 120%;
      line-height: 100%;
      color: #696969; }
    section#content section#pages p { }

    section#content section#pages .pageleft { background-color: #F6F7F8; }
    section#content section#pages .pageleft a img { float: left; padding-right: 15px; }
    section#content section#pages .pageright { background-color: #FFF; }
    section#content section#pages .pageright a img { float: right; padding-left: 15px; }

/* Classes to help build layout */
.clear { clear: both; }
.left { float: left; }
.right { float: right; }

table.zebra tr:nth-child(2n+2) { background-color: #F6F7F8; }
table.fullwidth { width: 100%; }
table.border,
table.border th,
table.border td {
  border-collapse: collapse;
  border: 1px solid silver;
}

table th,
table td { padding: 3px; }
table th { font-size: 13px; }

