article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

html { background-color: #f9f9f9; }

body {
  background: #FFF;
  color: #484848;
  font-family: Verdana, Arial, sans-serif;
  margin: 2em auto;
  width: 960px;
  border: 1px solid #d7d7d7; }

header {
  padding: 10px 5px 20px;
  background-color: #BE4357;
  background-image: url(../images/logo_2.png) no-repeat;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8C0C1B, endColorstr=#BF4458)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8C0C1B, endColorstr=#BF4458);
  background: -moz-linear-gradient(top, #8C0C1B, #BF4458) repeat-X;
  background: -webkit-gradient(linear, left top, left bottom, from(#8C0C1B), to(#BF4458)) repeat-X; }

section#content { padding: 10px; }
  section#content nav#administrator { margin-bottom: 10px; }

footer {
  padding-bottom: 10px;
  text-align: center;
  font-weight: bold; }

.right { float: right; }
.left { float: left; }
