nav#weby_bar {
  color: white;
  top:0;
  background-color: #666666;
  line-height: 23px;
  width:100%;
  border-bottom: 1px solid 	white;
  padding-left: 10px;
}

nav#weby_bar > menu li {
  background-color: #666666;
}

nav#weby_bar menu {
  list-style: none outside none;
  padding: 0;
  margin: 0;
  background-color: #666666;
}

nav#weby_bar menu li {
  padding: 0 10px;
  float: left;
}

nav#weby_bar menu li:hover {
  position: relative;
  z-index: 100;
}

nav#weby_bar menu li > a {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space:nowrap;
  color: white;
}

nav#weby_bar menu li menu {
  position: absolute;
  left: -9999px;
  margin-left: 20px;
}

nav#weby_bar menu li menu li menu {
  margin: 0px;
}

nav#weby_bar menu li > menu li {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 2px 3px;
}

nav#weby_bar menu li:hover > menu {
  left: -21px;
  z-index: -1;
  top: 20px;
}

nav#weby_bar menu li.sub > a:after {
  content: url("../images/arrow_collapsed.png");
  position: relative;
  top: 3px;
  right: 0;
}

nav#weby_bar menu li:hover menu li:hover > menu {
  top: 0px;
  z-index: 100;
}

nav#weby_bar > menu li:hover {
  background-color: #444444;
}

nav#weby_bar menu#user_info{
  float: right;
}
