/*Variables*/
#weby_bar {
  border-bottom: 1px solid white;
  /* for IE */
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  height: 23px;
  background-color: white;
  /* for IE */
  background-color: rgba(255, 255, 255, 0.85);
  filter: alpha(opacity=85);
  /* for IE */ }

.left {
  float: left; }

.right {
  float: right; }

.top_menu {
  top: 0;
  line-height: 23px;
  color: black !important; }
  .top_menu .separator {
    background: rgba(242, 242, 242, 0.85);
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc; }
    .top_menu .separator:hover {
      background: rgba(242, 242, 242, 0.85); }
  .top_menu menu {
    padding: 0 2px;
    margin: 0;
    list-style: none outside none;
    z-index: 999; }
    .top_menu menu > li {
      padding: 0 10px;
      float: left;
      position: relative;
      margin: auto; }
      .top_menu menu > li > a {
        display: block;
        color: black !important;
        overflow: hidden;
        white-space: nowrap; }
      .top_menu menu > li > menu {
        position: absolute;
        padding: 0;
        left: 0;
        top: 23.5px;
        display: none; }
        .top_menu menu > li > menu > li {
          width: 100%;
          padding: 3px;
          border-bottom: 1px solid white;
          border-left: 1px solid white;
          border-right: 1px solid white;
          border-bottom: 1px solid rgba(255, 255, 255, 0.85);
          border-left: 1px solid rgba(255, 255, 255, 0.85);
          border-right: 1px solid rgba(255, 255, 255, 0.85);
          background-color: white;
          /* for IE */
          background-color: rgba(255, 255, 255, 0.85);
          filter: alpha(opacity=85);
          /* for IE */ }
          .top_menu menu > li > menu > li:last-child {
            -webkit-border-radius: 0 0 5px 5px;
            -moz-border-radius: 0 0 5px 5px;
            border-radius: 0 0 5px 5px; }
          .top_menu menu > li > menu > li > menu {
            filter: alpha(opacity=100);
            /* for IE */
            position: absolute;
            left: 100%;
            top: -1px !important;
            z-index: 900px;
            border: 0 !important; }
            .top_menu menu > li > menu > li > menu > li {
              border-top: 1px solid white;
              border-top: 1px solid rgba(255, 255, 255, 0.85); }
              .top_menu menu > li > menu > li > menu > li:last-child:first-child {
                -webkit-border-radius: 0 5px 5px 0;
                -moz-border-radius: 0 5px 5px 0;
                border-radius: 0 5px 5px 0; }
      .top_menu menu > li.sub.to_left > menu {
        left: -150px; }
      .top_menu menu > li:hover {
        background-color: #e6e6e6; }
        .top_menu menu > li:hover > menu {
          display: block; }
          .top_menu menu > li:hover > menu li:hover > menu {
            border-left: 1px solid white;
            border-right: 1px solid white;
            border-left: 1px solid rgba(255, 255, 255, 0.85);
            border-right: 1px solid rgba(255, 255, 255, 0.85);
            top: 20px;
            z-index: 900px; }
      .top_menu menu > li.sub > a:after {
        content: url("../images/arrow_collapsed.png");
        position: relative;
        top: 3px;
        right: 0; }
      .top_menu menu > li.sub:hover > a:after {
        content: url("../images/arrow_expanded.png"); }
