<fieldset>
  <legend><%= t"banner.other"  %></legend>

  <div class="contextual">
    <p> <%= link_to (t"create_param", :param => (t"banner.one")), new_site_banner_path, :class => 'icon icon-add' %> </p>
  </div>

  <div id="list">
    <%= render :partial => "list" %>
  </div>
</fieldset>
