<fieldset>
  <legend><%= t("group.other") %></legend>

  <div class="contextual">
    <%= link_to (t"new_param.masc", :param => (t"group.one")), new_site_group_path, :class => 'icon icon-add' %>
  </div>

  <div id="list">
    <%= render :partial => "list" %>
  </div>
</fieldset>
