<fieldset>
  <legend><%= t'listing_param', :param => t('group', :count => 2) %></legend>

  <div class="contextual">
    <p> <%= link_to (t"new_param", :param => (t"group", :count => 1)), new_site_group_path, :class => 'icon icon-add' %> </p>
  </div>

  <div id="list">
    <%= render :partial => "list" %>
  </div>
</fieldset>
