<%# TODO escrever traduções %>
<fieldset>
<legend><%= t "manage_roles" %></legend>

<div id="enroled">
	<%= render 'enroled' %>
</div>

<br/>

<div id="enrole">
	<%= render 'enrole' %>
</div>
</fieldset>

