<%# TODO escrever traduções %>
<h1>Gerenciar papeis</h1>
<br/>

<div id="enroled">
	<%= render 'enroled' %>
</div>

<div id="enrole">
	<%= render 'enrole' %>
</div>

<%= javascript_tag "window.onload = function () {$('form[id^=\"form-user\"]').each(function (e){ $(this).hide(); })}" %>
