<fieldset>
  <legend><%= t"editing", :param => (t"event", :count => 1) %></legend>

  <%= render 'form' %> 

  <p> <%= link_to t('show'), @evento %> | <%= link_to t('back'), eventos_path %> </p>
</fieldset>
