<!--
<section id="weby_bar" >
  <nav class="top_menu left">
    <menu>
      <li>
        <%#= raw portals %>
      </li>

      <%# if @site %>
        <li> <%#= link_to( t("home"), @site ) %> </li>
      <%# end %>

      <%# if(@site.try(:id) and current_user) %>
        <li class='sub'>
          <%#= link_to t("admin.one"), site_admin_path %>
          <menu>
            <li class="separator"> <%#= t("site", :count => 1) %> </li>

            <%# if check_permission(AdminController, [:edit]) %>
              <li> <%#= link_to (t"setting.other"), site_admin_path %> </li>
            <%# end %>

          <%# if check_permission(Sites::Admin::PagesController, [:index]) %>
              <li> <%#= link_to (t"page.other"), site_admin_pages_path %>
                <menu>
                <%# if check_permission(Sites::Admin::PagesController, [:new]) %>
                  <li> <%#= link_to t("new.fem"), new_site_admin_page_path, :class => 'icon icon-add' %> </li>
                <%# end %>
                <li> <%#= link_to t("covers"), fronts_site_admin_pages_path, :class => 'icon icon-newspaper' %> </li>
              </menu>
              </li>
            <%# end %>

            <%# if check_permission(Sites::Admin::MenusController, [:index]) %>
              <li> <%#= link_to (t"menu.other"), site_admin_menus_path() %>
                <menu>
                <%# if check_permission(Sites::Admin::MenusController, [:new]) %>
                  <li> <%#= link_to (t"new_param.masc", :param => (t"menu.one")), new_site_admin_menu_path(), :class => 'icon icon-add' %> </li>
                <%# end %>
                  <%# @global_menus.each do |k, menu| %>
                  <%# if check_permission(Sites::Admin::Menus::MenuItemsController, [:index]) %>
                      <li> <%#= link_to menu.name.try(:titleize), site_admin_menus_path(:menu => menu.id), :class => 'icon icon-list' %>
                      <%# if check_permission(Sites::Admin::Menus::MenuItemsController, [:new]) %>
                        <menu>
                          <li> <%#= link_to (t"new_param.masc", :param => (t"menu_item.one")), new_site_admin_menu_menu_item_path(menu), :class => 'icon icon-add' %> </li>
                        </menu>
                      <%# end %>
                      </li>
                      <%#  end %>
                  <%# end %>
                </menu>
              </li>
            <%# end %>

            <%# if check_permission(Sites::Admin::BannersController, [:index]) %>
              <li> <%#= link_to (t"banner.other"), site_admin_banners_path() %>
                <menu>
                <%# if check_permission(Sites::Admin::BannersController, [:new]) %>
                  <li> <%#= link_to t("new.masc"), new_site_admin_banner_path(), :class => 'icon icon-add' %> </li>
                <%# end %>
                </menu>
              </li>
            <%# end %>

            <%# if check_permission(Sites::Admin::ComponentsController, [:index]) %>
              <li> <%#= link_to t("component.other"), site_admin_components_path() %>
                <menu>
                <%# if check_permission(Sites::Admin::ComponentsController, [:new]) %>
                  <li> <%#= link_to t("new.masc"), new_site_admin_component_path(), :class => 'icon icon-add' %> </li>
                <%# end %>
                </menu>
              </li>
            <%# end %>

            <%# if check_permission(Sites::Admin::RepositoriesController, [:index]) %>
              <li> <%#= link_to (t"archive.other"), site_admin_repositories_path() %>
                <menu>
                <%# if check_permission(Sites::Admin::RepositoriesController, [:new]) %>
                  <li> <%#= link_to t("new.masc"), new_site_admin_repository_path(), :class => 'icon icon-add' %> </li>
                <%# end %>
                </menu>
              </li>
            <%# end %>
      
            <%# if check_permission(Sites::Admin::StylesController, [:index]) %>
              <li> <%#= link_to (t"style.other"), site_admin_styles_path() %>
                <menu>
                <%# if check_permission(Sites::Admin::StylesController, [:new]) %>
                  <li> <%#= link_to t("new.masc"), new_site_admin_style_path(), :class => 'icon icon-add' %> </li>
                <%# end %>
                </menu>
              </li>
            <%# end %>

            <li class="separator"> <%#= t("user", :count => 2) %> </li>

            <%# if check_permission(Sites::Admin::UsersController, [:index]) %>
              <li> <%#= link_to (t"user.other"), site_admin_users_path() %> </li>
            <%# end %>

            <%# if check_permission(Sites::Admin::RolesController, [:index]) %>
              <li> <%#= link_to (t"roles_permissions"), site_admin_roles_path() %> </li>
            <%# end %>
      
            <%# if check_permission(Sites::Admin::FeedbacksController, [:index]) %>

              <li class="separator"> <%#= t("feedback.one") %> </li>

                <%# if check_permission(Sites::Admin::GroupsController, [:index]) %>
                  <li> <%#= link_to (t"group.other"), site_admin_groups_path() %>
                    <menu>
                      <%# if check_permission(Sites::Admin::GroupsController, [:new]) %>
                        <li> <%#= link_to t("new.masc"), new_site_admin_group_path(), :class => 'icon icon-add' %> </li>
                      <%# end %>
                   </menu>
                 </li>
                <%# end %>

              <li> <%#= link_to (t"messages"), site_admin_feedbacks_path() %> </li>

            <%# end %>
          </menu>
        </li>
      <%# end %>
    
      <%## Quando na tela dos portais %>
      <%# if(not(@site) and current_user) %>
        <%# if check_permission(AdminController, [:index]) %>
          <li class='sub'>
            <%#= link_to t("admin.one"), admin_path() %>
            <menu>
              <li> <%#= link_to (t"site.other"), admin_sites_path %>
                <%# if check_permission(Admin::SitesController, ["new"]) %>
                  <menu>
                    <li>
                      <%#= link_to t("new.masc"), new_admin_site_path, :class => 'icon icon-add' %>
                    </li>
                  </menu>
                <%# end %>
              </li>
            
              <%# if check_permission(Admin::UsersController, ['index']) %>
                <li> <%#= link_to (t"user.other"), @site ? site_admin_users_path : admin_users_path %>
                  <%# if check_permission(Admin::UsersController, ["new"]) %>
                    <menu>
                      <li>
                        <%#= link_to t("new.masc"), new_admin_user_path, :class => 'icon icon-add' %>
                      </li>
                    </menu>
                  <%# end %>
                </li>
              <%# end %>
            
              <%# if check_permission(Admin::RolesController, [:index]) %>
                <li> <%#= link_to (t"roles_permissions"), admin_roles_path %> </li>
              <%# end %>
            </menu>
          </li>
        <%# end %>
      <%# end %>
    
      <li>
        <%#= link_to (t"help"),
          (Setting.get(:help_site) || "/help"),
          :target => '_blank' %>
      </li>
      <li>
        <%#= link_to (t"about"),
          "/about",
          :target => '_blank' %>
      </li>
    </menu>
  </nav>

  <nav class="top_menu right">
    <menu>
      <%# if(@site.try(:id) and current_user) %>
        <li> <%#= link_to(current_user.first_name.titleize, site_admin_user_path(current_user)) %> </li>
      <%# end %>

      <%# if(not(@site) and current_user) %>
        <li> <%#= link_to(current_user.first_name.titleize, admin_user_path(current_user)) %> </li>
      <%# end %>

      <%# if current_user %>
        <li> <%#= link_to( t("logout"), logout_path(:back_url => "#{request.fullpath}"), :confirm => t("are_you_sure") ) %> </li>
      <%# end %>

      <%# if not(current_user) %>
        <li class='to_left'> <%#= link_to( t("login"), login_path(:back_url => "#{request.fullpath}")) %> </li>
        <li> <%#= link_to( t("register"), new_admin_user_path ) %> </li>
      <%# end %>

      <%# # FIXME Contador de usuários não está funcionando ao realizar logoff. %>
      <%## User.logged_in.count.to_s + ' ' + t('logged', :count => User.logged_in.count) %>
    </menu>
  </nav>
  </section>
  -->
