<fieldset>
  <legend><%= t"listing_param", :param => (t"setting", :count => 2) %></legend>
	
  <% form_tag '/settings', :method => 'put' do %>
    <table class="list">
      <thead>
        <tr>
          <th><th>
        </tr>
      </thead>
      <tbody>
          <tr class="<%= cycle 'odd', 'even' %>">
            <td></td>
          </tr>
        <% reset_cycle %>
      </tbody>
    </table>
    <p> <%= submit_tag t("submit") %> </p>
  <% end %>

</fieldset>
