#mini_layout{
  border-top: 1px dotted black;
  border-right: 1px dotted black;
  border-left: 1px dotted black;
  background-color: #E6E6E6;	
  width:  500px;
}

#mini_level{
  border-bottom: 1px dotted black;
  min-height: 25px;
} 

.clicked, .clicked.hover:hover { background: #f7f6d9; }

.hover:hover { background-color: #dadada; }
