<div class="row">
  <div class="col-md-5">
    <%= form_tag admin_apps_path, method: 'get', autocapitalize: "off", class: ' search' do %>
      <%= search_input params[:search] %>
    <% end %>
  </div>
  <div class="col-md-7">
    <div class="pull-right">
      <%= link_to t(".new_app"), new_admin_app_path, class: "btn btn-success" %>
    </div>
  </div>
</div>

<div id="list">
  <%= render partial: "list" %>
</div>
