<% @page.type ||= "Page" %>
<% unless @page_files_unchecked.nil? %>
  <% @page_files_unchecked.each do |repo_file| %>
    <% unless repo_file.nil? %>
      <p class='checklabel'>
        <%= check_box_tag("#{@page.type.downcase}[repository_ids][]", repo_file.id, false) %>
        <%= "#{repo_file.description} (#{repo_file.archive_file_name})" %>
      </p>
    <% end %>
  <% end %>
<% end %>
