<fieldset>
  <legend><%= t"page.other"  %></legend>

  <% if params[:type] %>
    <div class="contextual">
      <p> <%= link_to (t"create_param", :param => (t"page.one")), new_site_page_path, :class => 'icon icon-add' %> </p>
    </div>
  <% end %>

  <div id="list">
    <%= render :partial => "list" %>
  </div>
</fieldset>
