<div class="foldMenus">
  <p> <%= link_to (t:news, :count => 2), noticias_path, :class => 'simple_box' %> </p>
  <p> <%= link_to (t:newsletter, :count => 2), informativos_path, :class => 'simple_box' %> </p>
  <p> <%= link_to (t:event, :count => 2), eventos_path, :class => 'simple_box' %> </p>
</div>
