<div class="foldMenus">
  <p> <%= link_to (t:news, :count => 2), site_noticias_path, :class => 'simple_box' %> </p>
  <p> <%= link_to (t:newsletter, :count => 2), site_informativos_path, :class => 'simple_box' %> </p>
  <p> <%= link_to (t:event, :count => 2), site_eventos_path, :class => 'simple_box' %> </p>
</div>
