<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Olá <%= @user.first_name %>!</p>

    <p>O seguinte site foi desativado no Weby:</p>

    <p><strong><%= @site.title %></strong></p>

  </body>
</html>
