<ul class="ufg_links">
	<a href="http://www.ufg.br"> <li> Portal UFG </li></a>
	<a href="http://ufgnet.ufg.br"><li> Portal UFGNet </li></a>
	<a href="http://www.ufg.br/pages/63424"><li> Pró-reitorias </li></a>
	<a href="http://www.ufg.br/pages/63425"><li> Unidades Acadêmicas </li></a>
	<a href="http://www.prodirh.ufg.br"> <li> Concursos</li></a>
	<a href="http://www.vestibular.ufg.br"><li> Vestibular </li></a>
	<a href="http://www.ufg.br/feedback"><li> Fale Conosco </li></a>
	<a href="http://www.ufg.br/pages/63489"> <li> Dúvidas frequentes </li></a>
</ul>
