<% #TODO FIX LINKS AFTER THE MIGRATION  %>
<ul class="ufg_links">
	<a href=""> <li> Portal UFG </li></a>
	<a href="http://sistemas.ufg.br/PORTAL/arquivos/login.php"><li> Portal UFGNet </li></a>
	<a href="http://www.ufg.br/page.php?menu_id=180&amp;pos=esq"><li> Pró-reitorias </li></a>
	<a href="http://www.ufg.br/page.php?menu_id=277&amp;pos=esq"><li> Unidades Acadêmicas </li></a>
	<a href="http://www.prodirh.ufg.br/"> <li> Concursos</li></a>
	<a href="http://www.vestibular.ufg.br/ps2009-2/home.htm"><li> Vestibular </li></a>
	<a href="http://www.ufg.br/page.php?tipo=fale_conosco_form"><li> Fale Conosco </li></a>
	<a href="http://www.ufg.br/page.php?menu_id=282&amp;pos=esq"> <li> Dúvidas frequentes </li></a>
</ul>
