default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  username: <%= ENV['PG_USER'] %>
  password: <%= ENV['PG_PASS'] %>
  host: <%= ENV['PG_HOST'] %>

development:
  <<: *default
  database: weby_development

test:
  <<: *default
  database: weby_test

production:
  <<: *default
  database: weby
