default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  timeout: 5000
  username: <%= ENV['PG_USER'] %>
  password: <%= ENV['PG_PASS'] %>
  host: <%= ENV['PG_HOST'] %>
  database: <%= ENV['PG_DB'] %>
  port: <%= ENV['PG_PORT'] %>

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default
