development:
  weby: ['first_place', 'top', 'left', 'right', 'home', 'bottom']
  this2: ['first_place', 'top', 'left', 'home', 'right', 'bottom']
  weby_doc: ['first_place', 'top' ,'home','bottom'] 
  interteias: ['first_place', 'top', 'home', 'bottom']

production:
  weby: ['first_place', 'top', 'left', 'right', 'home', 'bottom']
  this2: ['first_place', 'top', 'left', 'home', 'right', 'bottom']
  weby_doc: ['first_place', 'top' ,'home','bottom'] 
  interteias: ['first_place', 'top', 'home', 'bottom']

