<% unless @site.repositories.nil? %>
  <% image  = @site.repositories.find(component.image)  %>
  <% height = component.height  || 200 %>
  <% width  = component.width   || 150 %>

  <section class="teacher_photo_component">
    <%= image_tag(image.archive.url,
                  alt: image.description,
                  title: image.description,
                  size: "#{width}x#{height}") %>
  </section>
<% end %>
