<% content_for :javascripts do %>
  <% javascript_include_tag 'http://coletajavascript.serpro.gov.br/estatistica.js' %>
<% end %>

<div class="gov_bar_component">
  <div id="barra-brasil">
    <div id="wrapper-barra-brasil">
      <div class="brasil-flag">
        <a href="http://brasil.gov.br" class="link-barra">Brasil</a>
      </div>
      <span class="acesso-info">
        <a href="http://brasil.gov.br/barra#acesso-informacao" class="link-barra">Acesso à informação</a>
      </span>
      <ul class="list">
        <li class="list-item first">
          <a href="http://brasil.gov.br/barra#participe" class="link-barra">Participe</a>
        </li>
        <li class="list-item">
          <a href="http://www.servicos.gov.br/" class="link-barra">Serviços</a>
        </li>
        <li class="list-item">
          <a href="http://www.planalto.gov.br/legislacao" class="link-barra">Legislação</a>
        </li>
        <li class="list-item last last-item">
          <a href="http://brasil.gov.br/barra#orgaos-atuacao-canais" class="link-barra">Canais</a>
        </li>
      </ul>
    </div>
  </div>
</div>
