// paginação para não quebrar no layout
.pagination ul {
  padding-left: 0;
  margin-left: 0;
  display: inline; }

.pagination ul li {
  margin-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: inline; }

.pagination { 
  padding: 8px 0px; }

.pagination ul li.disabled a,
.pagination ul li.active a { color: #999; }

// important
* { font-family: Verdana, sans-serif; }

html { font-size: 13px; }

#wrapper{ margin: 0 auto; }

a, a:link, a:visited {  text-decoration: none; }

a:hover, a:active {  text-decoration: none;}

a img{ border: 0; text-decoration: none;}

p {
margin: 0 0 9px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 13px;
line-height: 18px;
}