<fieldset>
  <p>
    <b>Name:</b>
    <%= @css.name %>
  </p>

  <p>
    <b>Css:</b>
    <pre class="brush: css"><%= @css.css %></pre>
  </p>

  <% if @site.id == @css.owner.id %>
    <%= link_to t('edit'), edit_site_css_path(@site, @css) %> |
  <% end %>

  <%= link_to t('back'), :back %>
</fieldset>
