<%content_for :stylesheets do%>
  <style type="text/css">
  .dialog {
    width: 600px;
    margin: 30px auto 0;
    text-align: center;
  }
  .dialog h1 {
    font-size: 20px;
  }
  .red { color: red }
  </style>
<% end %>
<%- title '404', true %>

<div class="dialog alert alert-info">
  <%#= image_tag 'weby-logo.png' %>
  <h1></h1>
  <h1><%= t('does_not_exist') %></h1>
  <p><%= t('verify_url') %></p>
  <p>
    <%#= @not_found_path %>
  </p>
  <p>
    <%= link_to t('return_to_home'), root_url(subdomain: current_site) %>
  </p>
</div>
