<% content_for :stylesheets do %>
  <style type="text/css">
  .dialog {
    width: 600px;
    margin: 30px auto 0;
    text-align: center;
  }
  .red { color: red }
  </style>
<% end %>

<div class="dialog">
  <%#= image_tag 'weby-logo.png' %>
  <h1>Ocorreu um erro no servidor</h1>
  <h3><span class="red"><%= @error %></span></h3>
  <p>
    <%#= link_to 'Clique aqui para voltar à página inicial.', root_path %>
  </p>
</div>
