<%= flash_message %>

<div class="tabbable">
  <div class="tab-content">
    <% if params["confirm"] %>
      <%= render 'devise/sessions/confirm_weby' %>
    <% else %>
      <%= render 'devise/sessions/login_weby' %>
    <% end %>
  </div>
</div>

