<%= flash_message %>

<div class="tabbable">
  <div class="tab-content">
    <% if @confirm %>
      <%= render 'devise/sessions/confirm' %>
    <% else %>
      <%= render 'devise/sessions/login' %>
    <% end %>
  </div>
</div>

