<div class="component_feed" style="float: <%=  component.align %>; clear: <%=  component.align %>;">
  
  <%= link_to image_tag(component.rss_icon.match(/^\d+$/) ? current_site.repositories.find(component.rss_icon).archive.url : "feed/#{component.rss_icon}", title: 'RSS'), feed_url(site_id: current_site.name, format: 'rss') unless component.rss_icon.blank? %>

  <%= link_to image_tag(component.atom_icon.match(/^\d+$/) ? current_site.repositories.find(component.atom_icon).archive.url : "feed/#{component.atom_icon}", title: 'ATOM'), feed_url(site_id: current_site.name, format: 'atom') unless component.atom_icon.blank? %>

</div>
