<blockquote class="alert-info">
  <a class="close" href="#" data-dismiss="alert" aria-hidden="true">&times;</a>
  <%= t('.no_settings') %>
</blockquote>

<div class="form-actions">
  <%= link_to t("back"), :back, class: "btn btn-default" %>
</div>
