<section id="banner_horizontal">
  <div>
  	<% @banners = @site.banners.published.tagged_with(settings[:category]) %>
    <% @banners.each do |b| %>
			<% unless b.repository.nil? %>
   	   <figure>
    		 <%= image_tag(b.repository.archive.url(b.size), :width => b.width, :height => b.height, :alt => b.text) %>
		   </figure>
			<% end %>
    <% end %>
  </div>
  <div class="clear"></div>
</section>
