<div  id="banners_right">
  <% @component_banners = @site.banners.published.tagged_with(settings[:category]) %>
  <% @component_banners.each do |banner| %>
    <% unless banner.repository.nil? %>
      <% #TODO: Trocar id para class %>
      <figure id='banner'>
        <% format = banner.size ? banner.size : "little" %>
        <%= weby_file_view(banner.repository,
                           format,
                           "#{banner.width}",
                           "#{banner.height}",
                           {as: 'link', alt: banner.text, title: banner.text, url: banner.url }) %>
      </figure>
      <% if check_permission(BannersController, ["toggle_field"]) %>
        <%= link_to t("unpublish"), toggle_field_site_banner_path(@site, banner, :field => 'publish') %>
      <% end %>
    <% end %>
  <% end %>
</div>
