<section id="<%= settings[:id] %>">
  <div>
    <% @banners = @site.banners[0..3] %>
    <% @banners.each do |b| %>
      <figure>
        <%= image_tag(b.repository.archive.url(b.size), :width => b.width, :height => b.height, :alt => b.text) %>
      </figure>
    <% end %>
  </div>
  <div class="clear"></div>
</section>
