<fieldset>
  <legend><%= t("css.other") %></legend>

  <div class="contextual">
    <p> <%= link_to (t"new_param", :param => (t"css.one")), new_site_css_path, :class => 'icon icon-add' %> </p>
  </div>

  <div id="list">
    <%= render :partial => "list" %>
  </div>
</fieldset>
