<%= form_tag site_admin_backup_path, method: 'get' do %>    
<div class="form-actions">
  <table class='table table-striped'>
    <thead>      
      <tr>
        <th>
          <%=  t('.restore') %>          
        </th>
      </tr>
      <tr>
        <th>
          <%= submit_tag t('import'), class: 'btn btn-primary import'  %>
          <%= link_to t("back"), site_admin_path, class: "btn" %>
        </th>
      </tr>
  </table>  
</div>

  <div class="form-actions">    
  </div>
<%  end %>