<div class="form-actions">
  <table class='table table-striped'>
    <thead>
      <tr>
        <th class="col-md-10">
          <%= form_tag site_admin_import_path, multipart: true, method: :post do %>
             <%= file_field_tag 'upload', required: :required, :accept => 'text/json,text/xml' %>
             <%= submit_tag t('import'), class: 'btn btn-primary import' %>
          <% end %>
        </th>
      </tr>
  </table>
</div>
