/*
 *= require google/orbitron
 */

@import "bootstrap/_variables";
@import 'bootstrap/_mixins';
@import 'bootstrap/_layouts';
@import 'bootstrap/_navs';
@import 'bootstrap/_sprites';
@import 'bootstrap/_utilities';
@import 'bootstrap/_dropdowns';
@import 'bootstrap/_buttons';
@import 'bootstrap/_button-groups';
@import 'bootstrap/_type';
@import 'bootstrap/_navbar';

body { padding-top: 40px; }
.navbar .btn { margin: 5px 5px 6px; }
.navbar .brand.logo { color: white; }

@import 'bootstrap-responsive';

.orbitron { font-family: "Orbitron"; }
.red { color: #C11303; font-family:inherit; }
