/*
 *= require_self
 *= require google/lato
 */

html, body { margin: 0; }

#weby_bar
{
  @import "bootstrap2";

  * { font-family: inherit; }
  a 
  {
    color: #bb1726;
    text-transform: uppercase;
  }
  .clean { color: #333333; }
  .user
  {
    line-height: 18px;
    .info
    {
      text-align: right;
      padding-top: 4px;
      margin-right: 15px;
    }
  }
  .logo
  {
    margin: 0 10px;
    line-height: 42px
  }
  .nav
  {
    margin-left: 10px;
    a { margin-left: 7px; }
  }
  margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 42px;
  color: #333333;
  background-color: white;
  height: 42px;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
}

#weby_shortcut
{
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}
