#about-body.centerbox { 
	margin-left: auto;
	margin-right: auto;}

#about-body header { 
	width: 100%;
	margin: 40px 0 40px;
	text-align: center; }

#about-body section#about { 
	background: #EAF3FA;
	width: 100%; }

#about-body section#description {
	color: #484848;
	padding: 20px 0 10px;
	margin-bottom: 50px;
	margin-left: 20px;
	width: 860px; }

#about-body h1 {
	color: #C11303;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px; }

#about-body p { margin-bottom: 10px; }
#about-body p.copyright {
	text-align: center;
	font-size: 14px;
	font-weight: bold; }

#about-body a { 
	text-decoration: none;
	color: #C11303; }

#about-body li {
  list-style: circle outside; 
  color:blue; }

#about-body ul { padding-left: 20px; }	

 #about-body.footnote {
  font-size: 8pt; } 

#about-body.right { float: right; }
#about-body.left	 { float: left; }
#about-bod.clear { clear: both; }
