/*
 *= require select2
 *= require select2-bootstrap
 *= require_self
 *= require weby_shared
 *= require google/lato
 *= require daterangepicker-bs3
 */

@import "weby/bootstrap";
@import "bootstrap";

body { background: #F5F5F5; }

img {
  max-width: 100%;
}

a:hover { text-decoration: none; }

#header {
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 12px;
  .noperson
  {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: right;
    .btn { margin-left: 5px; }
  }
  .person,
  .site
  {
    .info
    {
      line-height: 15px;
      margin: 0 10px;
    }
    .info.name
    {
      font-weight: bold;
      text-transform: uppercase;
      margin-top: -3px;
      margin-bottom: 3px;
    }
    .info.actions
    {
      min-width: 80px;
      a.label
      {
        margin-left: 5px;
      }
    }
  }
}

#main.container {
  .nav { }
  .pagination { margin: 10px 0 5px; }
  .form { margin-bottom: 10px; }
  .new-site { margin-left: 5px }
  .search { margin-bottom: 10px; }

  .well
  {
    background: white;
  }
}

#footer {
  a
  {
    margin-right: 5px;
    font-weight: bold;
  }
  padding: 10px 0 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
}
// NOTE:legacy
// TODO: revisar
// big editor to styles
.style-editor {
  height: 400px;
  width: 95%;
}
// turn icon in hand in sort elements
.handle {
  cursor: move;
  color: #1A417E;
  text-decoration: none;
}
// icon on datetimepicker field
.datetimepicker {
  background-image: url("/assets/ic_calendar.png") !important;
  background-position: 98% center !important;
  background-repeat: no-repeat !important;
}
#ui-datepicker-div {
  font-size: 0.9em;
  z-index: 10 !important;
}

.select2-search-field input {
  height: 18px;
}

select.select2 {
  height: 34px;
}

.pagination {
  margin: 10px 0;
}

.pagination select {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0;
  float: left;
  border-color: #DDD;
}

.pagination select.small {
  height: 26px;
}
// required is red!
label.required abbr { color: #BC1625; }

label.mce-label { max-width: none }

// nowrap tables
table.nowrap td > div {
  overflow: hidden;
  white-space: nowrap;
}

table td p {
  margin: 0;
}

thead {
  margin-top: 5px;
  background-color: white;
}

.publish-warning {
  position: absolute;
}

body.modal-open {
  overflow: hidden;
}

.modal-backdrop {
  z-index: 66000;
}

.modal {
  z-index: 66050;
}

.select2-drop {
  z-index: 66055;
}

.select2-drop-mask {
  z-index: 66052;
}

.tabbable.i18n .nav.nav-tabs {
  margin-bottom: 0px !important;
}

.tabbable.i18n .tab-content {
  border: 1px solid #DDD;
  border-top: 0;
  margin-bottom: 20px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.tab-pane {
  padding: 5px;
}

.optional {
  margin-left: 0px !important;
}

.highlight:hover td {
  background-color: #EEE !important;
}

.cursor, .cursor label {
  cursor: pointer;
}

.action-link, .handle {
  white-space: nowrap;
}

#preview-css-panel {
  text-align: center;

  iframe {
    width: 100%;
    height: 450px;
    border: 2px solid #DDD;
  }
}
// to customize main menu
#menu-admin {
  .nav-header {
    padding: 0;
    li { font-weight: bold; }
  }
}

.menu-tabs {

  .nav > li > a{
    padding-right: 20px;
  }

  .glyphicon{
    position: absolute;
    right: 7px;
    top: 11px;
    cursor: move;
  }
}

#repo_list > div.row > div > div {
  height: 258px;
}

#repo_list > div.row > div > div > a > img {
  height: 160px;
  background-color: #F5F5F5;
}
//available components
div#available_components div > div.thumbnail {
  height: 245px;
}

div#available_components div > div.thumbnail .glyphicon {
  color: white;
}

div#available_components div > div.thumbnail h5{
  height: 30px;
}

div#available_components div > div.thumbnail img {
  height: 130px;
}
// used to mark object as published/unpublished
.deactivated, .deactivated > td {
  background-color: #F2DEDE !important;
}
.activated {
  background-color: #DFF0D8 !important;
}

input[type="checkbox"].toggle { margin-top: 0; }
input[type="checkbox"] {
  margin: 3px 0 0;
}

.nav-header {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 6px 12px;
}
//Form-actions
.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
}
.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px !important;
  padding-right: 10px;
  label {
    font-weight: bold !important;
  }
}
//Paginator
.pagination > li {
  float: left;
}
//alert
.alert {
  margin-top: 10px;
}
//checkboxes
.well .nav .checkbox {
  font-weight: normal;
}

li .checkbox {
  height: 10px;
}

.checkbox label {
  padding-left: 5px;
}

table .checkbox label,
#backup .checkbox label {
  padding-left: 22px;
}

.center {
  text-align: center;
}

#repo_list {
  margin-top: 10px;
}

.img-edit .panel-heading.closed {
  cursor: pointer;
}

.img-edit .panel-heading.open {
  cursor: default;
}

.img-edit-preview {
  margin-bottom: 10px;
}

.toggle-lock {
  position: relative;
  top: 31px;
  left: -20px;
}

.toggle-lock input {
  vertical-align: middle;
  margin-top: -1px;
}

div.checkbox label.checkbox input {
  margin-right: 5px;
  margin-top: 6px;
}

.breadcrumb {
  margin-bottom: 10px;
}

hr {
  margin-bottom: 0;
}

.unread {
  font-weight: bold;
}

#dashboard {
  .box {
    /*height: 210px;*/
  }
  #calendar h2 {
    font-size: 18px;
  }
}
