/*
 *= require_self
 *= require google/lato
 */

@import "weby/bootstrap";
@import "bootstrap-responsive";

body { background: #F5F5F5; }

#header
{
  padding-top: 25px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-size: 12px;
  .noperson
  {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: right;
    .btn { margin-left: 5px; }
  }
  .person,
  .site
  {
    padding-top: 14px;
    padding-bottom: 14px;
    .avatar
    {
      margin-right: 10px;
    }
    .info
    {
      line-height: 15px;
    }
    .info.name
    {
      font-weight: bold;
      padding-bottom: 1px;
    }
    .info.actions
    {
      padding-top: 1px;
      a
      {
        color: #BC1625;
        margin-right: 5px;
      }
    }
  }
}

#main.container
{
  .nav { margin-bottom: 10px; }
  .pagination { margin: 10px 0 5px; }
  .form { margin-bottom: 10px; }
  .new-site { margin-left: 5px }
  .search { margin-bottom: 10px; }

  .well
  {
    background: white;
  }
}

#footer
{
  a
  {
    margin-right: 5px;
    font-weight: bold;
  }
  padding: 10px 0 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
}

// NOTE:legacy
// TODO: revisar
// big editor to styles
.style-editor
{
    height: 400px;
    width: 95%;
}

// turn icon in hand in sort elements
.handle
{
  cursor: move;
  color: #1A417E;
  text-decoration: none;
}

// icon on datetimepicker field
.datetimepicker
{
    background-image: url("/assets/ic_calendar.png") !important;
    background-position: 98% center !important;
    background-repeat: no-repeat !important;
}
#ui-datepicker-div{
    font-size: 0.9em;
}

.pagination {
    margin: 10px 0;
}

.pagination select {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0;
  float: left;
  border-color: #DDD;
}

.pagination select.small{
    height: 26px;
}

// required is red!
label.required abbr { color: #BC1625; }

// nowrap tables
table.nowrap td > div 
{
  overflow: hidden;
  white-space: nowrap;
}

body.modal-open {
    overflow: hidden;
}

.tabbable.i18n .nav.nav-tabs {
    margin-bottom: 0px !important;
}

.tabbable.i18n .tab-content {
  padding-top: 20px;
  border: 1px solid #DDD;
  border-top: 0;
  margin-bottom: 20px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.highlight:hover td{
   background-color: #EEE !important;
}

.cursor
{
  cursor: pointer;
}

#preview-css-panel{
  text-align: center;

  iframe{
    width: 100%;
    height: 450px;
    border: 2px solid #DDD;
  }
}

// to customize main menu
#menu-admin {
  .nav-header { padding: 0; }
}
