/*
 *= require google/droidsans
 *= require google/orbitron
 *= require_self
 */
@import "bootstrap";


// style to put logo in navbar
.navbar .brand.logo { color: white; }
.orbitron { font-family: "Orbitron"; }
.red { color: #C11303; }

// style to components
header.container,
section.container,
footer.container { padding: 10px 0; }
footer { text-align: center; }

.bluezone {
  border: 0px solid #EEEFEF;
  background: none repeat scroll 0% 0% #E8E8EF;
  //background: none repeat scroll 0% 0% rgb(255, 255, 255);
  padding: 20px 0;
  box-shadow: 0px 0px 20px;
  //max-width: 1000px;
  overflow: hidden;
}

header.container{ margin-top: 1px; }

// style to create modules in layout
div.content-module
{
  background: white;
  margin-bottom: 13px;
  border: 1px solid #eeefef;
  section.main { padding: 1em; }
}

// style to search form
form.search
{
  margin: 20px auto 0;
  .input-search
  {
    padding: 6px 8px 6px;
    width: 380px;
  }
}

.i18n_menu{
    text-align: right;
}

.btn-search{
    padding: 7px 12px;
}

// uniq
.site-name { width: 250px; }

// to paginate
// TODO: Fix them to use bootstrap's style
.paginator,
.page_info_paginator { padding-bottom: 9px; }
.item_per_page_paginator { padding-right: 3px; }

.pagination select {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0;
  float: left;
  border-color: #DDD;
}

.pagination select.small{
    height: 26px;
}

@import "bootstrap-responsive";

section#content section#pages{  
  position: relative;
  //left: 30px;
  min-height:500px;
}

section#content section#pages > li{
  width: 30%;
  height:100px;
  padding:5px;
  display: inline-block;
  border: 2px  solid #EEE;
  border-radius: 5px;
  background: #FFFFFF;
  vertical-align: top;
  float: left;
  position: relative;
  left: 63px;
}

section#content section#pages li:nth-child(odd) a img{
   float: right;
}
section#content section#pages li a img{
   width: 90px;
   height: auto;
}

section#content section#pages > li > article{
  margin: 6px;
}

section#content section#pages > li > article header h2{
  text-align: left;
  font-size: 11pt;
}
section#content section#pages > li > article p{
  text-align: left;
}

section#content section#pages > li .control{
  margin: 8px;
  text-align: right;
  position: absolute;
  bottom: 0px;
  left: 0px;
}
section#content section#pages .paginator{
  float: none;
}