  /* Define style to menu in side area */
  aside .dropdown menu { padding: 0; margin: 0; }
  aside .dropdown menu li { position: relative; margin: 0; list-style-type: none; border: 1px solid silver; }
  aside .dropdown menu li > a { background-color: #FFF; }
  aside .dropdown menu li:hover { background-color: #FF0000; }
  aside .dropdown menu li:hover > menu { display: block; position: absolute; top: -1px; }
  aside .dropdown menu li menu { width: 155px; display: none; border-width: 0px; }
  aside .dropdown menu li a { display: block; padding: 5px 7px; text-decoration: none; }
  aside .dropdown menu li.sub:hover { margin-right: 0px; border: 1px solid gray; }
  aside .dropdown menu li.sub > a { font-weight: bold; }

    aside.right .dropdown menu li { padding: 0 5px 0 0; }
    aside.right .dropdown menu li > a { text-align: right; }
    aside.right .dropdown menu li.sub > a { background: url("/assets/arrow_collapsed_right.png") no-repeat scroll transparent; background-position: left center; }
    aside.right .dropdown menu li.sub:hover > menu { left: -155px; z-index: 1; }

    aside.left .dropdown menu li { padding: 0 0 0 5px; z-index: 1;}
    aside.left .dropdown menu li > a { text-align: left; }
    aside.left .dropdown menu li.sub > a { background: url("/assets/arrow_collapsed.png") no-repeat scroll transparent; background-position: right center; }
    aside.left .dropdown menu li.sub:hover > menu { right: -155px; z-index: 1; }

