/*
 *= require google/droidsans
 *= require google/orbitron
 *= require_self 
 */ 
@import "bootstrap";

// style to components
header.container,
section.container,
footer.container { padding: 24px 0; }
footer { text-align: center; }

.bluezone { 
  border: 1px solid #EEEFEF;
  background: #F8F9FA;
}

// style to create modules in layout
div.content-module
{
  background: white;
  margin-bottom: 13px;
  border: 1px solid #eeefef;
  section.main { padding: 1em; }
}

// style to search form
form.search
{
  margin: 20px auto 0;
  .input-search
  {
    padding: 7px 8px 7px;
    width: 380px;
  }
}

.i18n_menu{
    text-align: right;
}

.btn-search{
    padding: 7px 12px;
}

// uniq
.site-name { width: 250px; }

// to paginate 
// TODO: Fix them to use bootstrap's style
.paginator,
.page_info_paginator { padding-bottom: 9px; }
.item_per_page_paginator { padding-right: 3px; }

@import "bootstrap-responsive";
