/*
 *= require google/droidsans
 *= require google/orbitron
 *= require _bootstrap
 *= require_self 
 *= require _bootstrap-responsive
 */ 

// overide bootstrap to use navbar
body { padding-top: 60px; }
.navbar .btn { margin: 5px 5px 6px; }
.navbar .brand.logo { color: white; }

// style definitions
.orbitron { font-family: "Orbitron"; }
.red { color: #C11303; }

// style to components
header.container,
section.container,
footer.container { padding: 24px 0; }
footer { text-align: center; }

.bluezone { 
  border: 1px solid #EEEFEF;
  background: #F8F9FA;
}

// style to create modules in layout
div.content-module
{
  background: white;
  margin-bottom: 13px;
  border: 1px solid #eeefef;
  section.main { padding: 1em; }
}

// style to search form
form.search
{
  margin: 40px auto 0;
  .input-search
  {
    padding: 8px 8px 9px;
    width: 380px;
  }
}

// uniq
.site-name { width: 250px; }

// to paginate 
// TODO: Fix them to use bootstrap's style
.paginator,
.page_info_paginator { padding-bottom: 9px; }
.item_per_page_paginator { padding-right: 3px; }
