/*
 *= require_self
 *= require google/lato
 */

@import "bootstrap";
//@import "bootstrap-responsive";

#header
{
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 12px;
  .noperson
  {
    padding-top: 14px;
    padding-bottom: 14px;
    text-align: right;
    .btn { margin-left: 5px; }
  }
  .person
  {
    padding-top: 14px;
    padding-bottom: 14px;
    .avatar { margin-right: 10px; }
    .info { line-height: 15px; }
    .info.name
    {
      font-weight: bold;
      padding-bottom: 1px;
    }
    .info.actions
    {
      padding-top: 1px;
      a
      {
        color: #BC1625;
        margin-right: 5px;
      }
    }
  }
}

#main
{
  .nav { margin-bottom: 10px; }
  .pagination { margin: 10px 0 5px; }
  .form { margin-bottom: 10px; }
  .new-site { margin-left: 5px }
  .search { margin-bottom: 10px; }
  .row { margin-top: 15px; }
}

#footer
{
  a
  {
    margin-right: 5px;
    font-weight: bold;
  }
  text-transform: uppercase;
  text-align: center;
  font-size: 11px;
  margin-top: 15px;
}

// helpers
.zone { background: #F5F5F5; }
.buffer-top { margin-top: 7px; }
.buffer-bottom{ margin-bottom: 7px; }

// sites
#sites
{
  .thumbnail
  {
    // media queries in sass way
    @media (max-width: 1199px) and (min-width: 768px), (max-width: 408px) { height: 528px; }
    height: 310px;
    position: relative;
    .thumbnail-header
    {
      padding: 5px;
      height: 65px;
      overflow: hidden;
      border-bottom: 1px solid #DDD;
      margin-bottom: 5px;
      img
      {
        float: left;
        margin-right: 5px;
        background-color: #F0F0F0;
      }
      span
      {
        font-size: 20px;
        a
        {
          vertical-align: top;
          line-height: 15px;
          color: #181e29;
        }
      }
    }
    .caption
    {
      padding: 5px;
      .top-news
      {
        display: inline-block;
        width: 142px;
        height: 100%;
        margin-right: 10px;
        div
        {
          font-size: 18px;
          height: 60px;
          overflow: hidden;
        }
        img
        {
          border: 1px solid #F0F0F0;
        }
      }
      .news
      {
        display: inline-block;
        vertical-align: top;
        width: 194px;
        height: 100%;
        margin-left: 0px;
        list-style-type: none;
        li
        {
          padding-bottom: 5px;
          margin-bottom: 5px;
          border-bottom: 1px dotted #DDD;
        }
        li:last-child { border-bottom: 0; }
        div
        {
          font-size: 16px;
          height: 40px;
          overflow: hidden;
        }
        img
        {
          float: left;
          margin-right: 5px;
          border: 1px solid #F0F0F0;
        }
      }
      .date
      {
        font-size: 9px;
        color: #888;
        margin: 0;
        padding: 0;
        visibility: hidden;
      }
      li:hover .date,
      .top-news:hover .date { visibility: visible; }
    }
    .footer-link
    {
      position: absolute;
      bottom: 8px;
      right: 8px;
      font-size: 30px;
      line-height: 30px;
    }
  }
}


// legacy
.pagination select
{
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0;
  float: left;
  border-color: #DDD;
  margin-bottom: 0;
}

// Profile
#profile
{
  .alert { margin-top: 15px; }
  .avatar { text-align: center; }
  .info
  {
    margin: 15px 0;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    .last-name { font-size: 20px; }
  }
  .actions { margin-bottom: 15px; }
  .heading
  {
    font-size: 20px;
    line-height: 40px;
    padding-left: 5px;
    border-left: 5px solid #BC1625;
  }
  .thumbnail
  {
    @media (max-width: 480px)
    {
      .pull-left { text-align: center; }
    }
    border-color: #f5f5f5;
    padding: 10px;
    .media-body
    {
      height: 100px;
      .title
      {
        padding-top: 10px;
        font-size: 18px;
        overflow: hidden;
        height: 20px;
        padding-bottom: 5px;
      }
      .description
      {
        font-size: 11px;
        color: #AAA;
        font-weight: bold;
        padding-bottom: 5px;
      }
      .description a
      {
        color: #888;
      }
      .summary
      {
        text-align: justify;
        font-size: 12px;
        line-height: 15px;
        overflow: hidden;
        height: 30px;
      }
    }
  }
  .form-big
  {
    margin-bottom: 0;
    abbr { color: #BC1625; }
    .control-group.string,
    .control-group.email,
    .control-group.tel,
    .control-group.radio_buttons,
    .control-group.password
    {
      background: #f5f5f5;
      padding: 10px;
    }
    .form-actions {
      padding: 10px;
      margin-top: 0;
    }
    select,
    textarea,
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"] { margin-bottom: 0; }
    .help-block { margin-bottom: 0; }
  }
  .avatar-info
  {
    margin: 15px 0;
    color: #7B7B7B;
  }
}

//Notifications
#notifications
{
  .date
  {
    font-size: 11px;
    color: #AAA;
    font-weight: bold;
    padding-bottom: 5px;
  }
  .unread
  {
    font-weight: bold;
  }
}
