/*
 *= require google/lato
 */

html, body { margin: 0; }

$weby-blue: #344259;
$link-color: $weby-blue;

#webybar {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  * { font-family: inherit; }
  a { text-transform: uppercase; }
  a:hover { text-decoration: none; }
  .user {
    line-height: 18px;
    .info {
      text-align: right;
      padding-top: 2px;
      margin-right: 10px;
      min-width: 80px;
    }
  }
  .logo { margin: 0 10px; }
  .nav a {
    margin-left: 7px;
    color: #bb1726;
  }
  .label {
    display: inline-block;
  }
  margin: 0;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 42px;
  background-color: white;
  height: 42px;
  overflow: hidden;
  border-bottom: 1px solid #DDD;
}
#weby_shortcut {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
}

.flash-alert {
  /*display: none;*/
  width: 500px;
  max-width: calc(100% - 15px);
  position: fixed;
  z-index: 900;
  bottom: -100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  transition: bottom .4s;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .close {
    float: right;
    text-decoration: none;
    color: gray;
  }

  &.visible {
    /*display: block;*/
    bottom: 0;
  }
}
