//Nav
.nav-pills > li > a {
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

//Buttons
.btn {
  text-transform: uppercase;
}

//Glyphicon
.glyphicon-sort{
  color: gray;
}

.glyphicon {
  font-size: 12px;
}

.glyphicon.glyphicon-white {
  color: white;
}

//Alert
blockquote{
  font-size: 16px;
}

ul.order-list {
  padding: 0;
}

.label-important{
  background-color: #953b39;
}

.person{
  .info.actions {
    a{
      color: white;
    }
    .label{
      font-size: 11.844px;
      padding: 2px 4px;
    }
  }
}

.site {
  .info.actions a{
    color: #BC1625;
  }   
}
