//Nav
.nav-pills > li > a {
  border-radius: 4px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

//Buttons
.btn {
  text-transform: uppercase;
}

.oh-c-i {
  visibility: hidden;
}

td:hover, .component-ctrl:hover {
  .oh-c-i {
    visibility: visible;
  }
}

//Glyphicon
.glyphicon-sort{
  color: gray;
}

.glyphicon {
  font-size: 13px;
}

.glyphicon.glyphicon-white {
  color: white;
}

///Toggle
$turquoise: #62c462;
$greensea: #5cb85c;
$night: #34495e;
$midnight: #2c3e50;
$transition: all .3s ease;

.dirty + .check-trail {
  box-shadow: 0 0 0 3px #ea9c0d;
}

/* Hide the input */
.weby-toggle {
  position: absolute;
  opacity: 0;
  z-index: -1;
  &:checked + .check-trail {
    background: $greensea;
    .check-handler {
      margin-left: 50%;
      background: $turquoise;
      &::before {
        content: "\2714"
      }
    }
  }
}
.check-trail {
  display: inline-flex;
  align-items: center;
  width: 42px;
  height: 22px;
  background: $midnight;
  border-radius: 11px;
  transition: $transition;
  margin-bottom: 0;
  cursor: pointer;
}
.check-handler {
  display: flex;
  margin-left: 3px;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background: $night;
  border-radius: 50%;
  transition: $transition;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  &:before {
    text-decoration: none;
    content: "\00D7";
    color: white;
    font-size: 14px;
    font-weight: bold;
  }
}

img.flag {
  height: 17px;
}

//Alert
blockquote{
  font-size: 16px;
}

ul.order-list {
  padding: 0;
}

.label-important{
  background-color: #953b39;
}

.person{
  .info.actions {
    a{
      color: white;
    }
    .label{
      font-size: 11.844px;
      padding: 2px 4px;
    }
  }
}

.site {
  .info.actions a{
    color: #BC1625;
  }
}
