<section class="news_as_home_component">
  <% unless (@page = component.page).nil? %>
    <%= render template: 'sites/pages/show', locals: { as_component: {show_title: component.show_title , show_info: component.show_info} } %>
  <% else %>
    <%= content_tag :h1, t(".page_not_found") %>
  <% end %>
</section>
