<%- title "manage_roles" %>

<div class="span9">
  <div class="well">
    <div id="enroled">
      <%= render 'enroled' %>
    </div>
  </div>
</div>

<div class="span9">
  <div class="well">
    <div id="enrole">
      <%= render 'enrole' %>
    </div>
  </div>
</div>
