<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Olá <%= @resource.first_name %>!</p>

    <p>Uma requisição de recuperação de senha foi feita. Você pode fazer isso através do link abaixo.</p>

    <p><%= link_to "#{reset_password_url(reset_password_token: @token, subdomain: nil)}", reset_password_url(reset_password_token: @token, subdomain: nil) %></p>

    <p>Se você não fez essa requisição, por favor, ignore este e-mail.</p>
    <p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
  </body>
</html>
