<p class="pull-right">
  <% if check_permission(Admin::UsersController, [:index]) %>
    <%= link_to t(".users"), admin_users_path, class: "btn btn-default" %>
  <% end %>
  <% if check_permission(Admin::UsersController, :change_roles) %>
    <%= link_to t('.roles_permissions'), admin_roles_path, class: "btn btn-default" %>
  <% end %>
</p>
<div class="clearfix"></div>

<div id="enroled">
  <%= render 'enroled' %>
</div>
<div id="enrole">
  <%= render 'enrole' %>
</div>
<% content_for :javascripts, javascript_include_tag('users.enroled') %>
<% content_for :javascripts, javascript_include_tag('users.enrole') %>
