<% if check_permission(Admin::UsersController, [:index]) %>
  <div class="pull-right">
    <%= link_to t(".users"),
      admin_users_path,
      class: "btn btn-primary" %>
  </div>
  <div class="clearfix"></div>
<% end %>
  
<div id="enroled">
  <%= render 'enroled' %>
</div>
<div id="enrole">
  <%= render 'enrole' %>
</div>
