<% style = @main_width ? "style=\"max-width: #{@main_width+4}px\"".html_safe : "" %>
<div class="no_contrast">
  <section class="institutional_bar_component">
    <section class="content" <%= style %>>
      <aside class="left">
        <a href="http://www.ufg.br">
          <%= image_tag('ufg.png', alt: 'UFG') %>
          <span class="name">Universidade Federal de Goiás</span>
        </a>
      </aside>
      <aside class="right">
        <select onchange="if(options[selectedIndex].value) window.location.href= (options[selectedIndex].value)">
          <option value="http://www.ufg.br" selected="selected">Portal UFG</option>
          <option value="http://ufgnet.ufg.br">Portal UFGNet</option>
          <option value="http://www.ufg.br/pages/63424">Pró-reitorias</option>
          <option value="http://www.ufg.br/pages/63425">Unidades Acadêmicas</option>
          <option value="http://www.prodirh.ufg.br">Concursos</option>
          <option value="http://www.vestibular.ufg.br">Vestibular</option>
          <option value="http://www.ufg.br/feedback">Fale Conosco</option>
          <option value="http://www.ufg.br/pages/63489">Dúvidas frequentes</option>
        </select>
      </aside>
    </section>
  </section>
</div>
