<% style = @main_width ? "style=\"width: #{@main_width+4}px\"".html_safe : "" %>

<section class="institutional_bar_component no_contrast">
  <section class="content" <%= style %>>
    <aside class="left">
      <a href="http://www.ufg.br">
        <%= image_tag('ufg.png', alt: 'UFG') %>
        <span class="name">Universidade Federal de Goiás</span>
      </a>
    </aside>
    <aside class="right">
      <select onchange="if(options[selectedIndex].value) window.location.href= (options[selectedIndex].value)">
        <option value="" selected="selected">Portal UFG</option>
        <option value="http://sistemas.ufg.br/PORTAL/arquivos/login.php">Portal UFGNet</option>
        <option value="http://www.ufg.br/page.php?menu_id=180&amp;pos=esq">Pró-reitorias</option>
        <option value="http://www.ufg.br/page.php?menu_id=277&amp;pos=esq">Unidades Acadêmicas</option>
        <option value="http://www.prodirh.ufg.br/">Concursos</option>
        <option value="http://www.vestibular.ufg.br/ps2009-2/home.htm">Vestibular</option>
        <option value="http://www.ufg.br/page.php?tipo=fale_conosco_form">Fale Conosco</option>
        <option value="http://www.ufg.br/page.php?menu_id=282&amp;pos=esq">Dúvidas frequentes</option>
      </select>
    </aside>
  </section>
</section>
