<div class="card-team-horizontal">
    <p><strong>Alocação</strong></p>
    <table class="table-horizontal">
        <tbody>
            <tr style="border-style: hidden;">
                <td class="td-horizontal-image"><img src="/assets/icone_ de_usuario_sem_foto_colorido.png" class="capa" /></td>
                <td class="td-horizontal-text">
                    <p class="text-element"><strong>Nome</strong></p>
                    <p class="text-element">Telefone</p>
                    <p class="text-element">email</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>