<p style="text-align: center;">
    <strong>Alocação</strong>
</p>
<table class="table-vertical">
    <tbody>
        <tr style=" height: 170px;">
            <td class="td-vertical-image">
                <img class="capa-vertical" src="/assets/icone_ de_usuario_sem_foto_colorido.png">
            </td>
        </tr>
        <tr class="tr-vertical-text">
            <td class="td-vertical-text">
                <p class="p-vertical-text">
                    <span>
                        <strong>Nome</strong>
                    </span>
                </p>
                <p class="p-vertical-text">
                    <span>Função</span>
                </p>
                <p class="p-vertical-text">
                    <span>Telefone</span>
                </p>
                <p class="p-vertical-text">
                    <span>Email</span>
                </p>
                <br>
            </td>
        </tr>
    </tbody>
</table>