<% if @sites.empty? %>
  <div class="alert alert-warning">
    <%= t(".no-site-found") %>
  </div>
<% else %>
  <div id="sites" class="row">
    <% @sites.each do |site| %>
      <div class="col-md-4 site-thumbnail">
        <%= render partial: 'site', locals: {site: site} %>
      </div>
    <% end %>
    <%= hidden_field_tag 'next-page', nil, class: 'next-load', data: {url: @nexturl} %>
  </div>
<% end %>
