<% if @sites.empty? %>
  <div class="alert">
    <%= t(".no-site-found") %>
  </div>
<% else %>
  <ul id="sites" class="thumbnails">
    <% @sites.each do |site| %>
      <li class="col-lg-4 col-md-4 col-sm-4">
        <%= render partial: 'site', locals: {site: site} %>
      </li>
    <% end %>
    <%= hidden_field_tag 'next-page', nil, class: 'next-load', data: {url: @nexturl} %>
  </ul>
<% end %>
