<% if @my_sites.empty? %>
  <div class="alert alert-warning">
    <%= t(".no-site-found") %>
  </div>
<% else %>
  <h3><%= t('.my-sites') %></h3>
  <div id="sites" class="row">
    <% @my_sites.each do |site| %>
      <div class="col-md-4 site-thumbnail">
        <%= render partial: 'site', locals: {site: site} %>
        <%= link_to icon('briefcase', text: t(".dashboard"), white: true), site_admin_url(subdomain: site), class: 'btn btn-default btn-block btn-admin' if current_user %>
      </div>
    <% end %>
  </div>
<% end %>
