<%- title '.settings' %>                                                                                                               
<div class="span9">                                                                                           
  <div class="well">                                                                                          
    <%= render 'sites/form' %>
  </div>                                                                                                      
</div>  
