<% if check_permission(Admin::SitesController, ["new"]) %>
  <p class="pull-right">
  <%= link_to new_admin_site_path do %>
    <button class="btn btn-success btn-large">
      <%= t(".new_site")%>
    </button>
  <% end %>
  </p>
<% end %>
<div style="clear: both;"></div>

<%= content_tag :div, render('list'), id: 'list' if @sites %>
