<fieldset>
  <legend><%= t"list_param", :param => (t"site", :count => 2) %></legend>

  <% if check_permission(SitesController, "new")  %>
    <div class="contextual">
      <p> <%= link_to (t"new_param", :param => (t"site", :count => 1)), new_site_path, :class => 'icon icon-add' %> </p>
    </div>
  <% end %>

  <div id="list">
    <%= render :partial => "list" %>
  </div>

</fieldset>
