<fieldset>
  <legend><%= t"site.other" %></legend>

  <% if check_permission(SitesController, "new")  %>
    <div class="contextual">
      <p> <%= link_to (t"new_param", :param => (t"site.one")), new_site_path, :class => 'icon icon-add' %> </p>
    </div>
  <% end %>

  <div id="list">
    <%= render :partial => "list" %>
  </div>
</fieldset>
