ufg:
  name: 'Universidade Federal de Goiás'
  url: http://www.ufg.br
  logo:
    small: 'ufg/logo-s.png'
  links:
    label:
      pt-BR: 'Acesso Rápido'
      en: 'Fast Access'
    list:
      Portal UFGNet: http://ufgnet.ufg.br
      Webmail: http://mail.ufg.br
      Concursos: http://www.prodirh.ufg.br
    bar:
      Portal UFG: http://www.ufg.br
      Portal UFGNet: http://ufgnet.ufg.br
      Pró-reitorias: http://www.ufg.br/pages/63424
      Unidades Acadêmicas: http://www.ufg.br/pages/63425
      Concursos: http://www.prodirh.ufg.br
      Vestibular: http://www.vestibular.ufg.br
      Fale Conosco: http://www.ufg.br/feedback
      Dúvidas frequentes: http://www.ufg.br/pages/63489
ueg:
  name: 'Universidade Estadual de Goiás'
  url: http://www.ueg.br
  logo:
    small: ''
  links:
    list:
      Portal UEG: http://www.ueg.br
      Google: http://google.com.br
      Facebook: http://www.facebook.com