.front_news_component
{
	article
	{
		width: 458px;
		margin-right: 10px;
		float: left;
		border: 1px solid #DDD;
		background-color: #E8E8E8;
		margin-bottom: 15px;
    header
    {
      padding: 0 10px;
      h2 { font-size: 24px; }
    }
		summary
		{
      padding: 0 10px;
			p
			{
				width: 100%;
				max-height: 50px;
				overflow: hidden;
			}
		}
		.read_more { padding-left: 10px; }
	}
}
