//style to menu in header
header
{
  .menu_component
  {
    padding: 50px 0 40px;
    float: right;
    menu
    {
      // general style independent dropdown setting
      list-style: none;
      padding: 0;
      margin: 0;
      li
      {
        float: left;
        a
        {
          display: block;
          font-size: 18px;
          height: 24px;
          line-height: 24px;
          padding: 8px 10px;
        }
      }
      // change here to style menu when dropdown is enable
      &.dropdown
      {
        li
        {
          display: block;
          position: relative;
          a
          {
            float: left;
            margin: 0;
          }
          &.sub menu
          {
            display: none;
            float: none;
            right: 0;
            position: absolute;
            top: 100%;
            
            li 
            { 
              float: none;
              margin: 0;
              &.sub menu
              {
                right: 100%;
                top: 0; 
              }
            }
            li a
            {
              float: none;
              &:hover { float: none; }
            }
          }
          &.sub:hover > menu
          {
            display: block;
          }
        }
      }
      // change here to style menu when dropdown is disable
      &.expanded
      {
        li
        {
          a { }
        }
      }
      // clarfix
      &::after, &::before
      {
        display: table;
        line-height: 0;
        content: "";
        clear:both;
      }
    }
  }
}

