<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.date') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= link_to notification.title, site_admin_notification_path(notification.id) %></td>
        <td><%= notification.created_at.strftime("%d %b. %Y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
