@import "../../utils.css.scss";

#weby_bar { 
	margin: 0;
	padding: 0;}

/*Variables*/
$main-opacity: 0.85;
$main-color: rgba(255, 255, 255, $main-opacity);
$menu-line-height: 23px;
$menu-text-color: rgb(0, 0, 0);
$border-color: lighten($main-color, 50%);
$menu-border: 1px solid $border-color;
$menu-border-ie: 1px solid opacify($border-color, 1);

#weby_bar{
  border-bottom: $menu-border-ie; /* for IE */ 
  border-bottom: $menu-border; 
  height: $menu-line-height;
  @include background-opacity;

}

.left{
  clear: left;
  float: left
}
.right{
  float: right
}

.top_menu {
	margin: 0;
  top: 0;
  line-height: $menu-line-height;
  color: $menu-text-color !important;

  .separator{
    background:  darken($main-color, 5%);
    font-weight: bold;
    border:{
      bottom: 1px solid #ccc;
      top: 1px solid #ccc;
    }

    &:hover{
      background: darken($main-color, 5%);
    }
  }

  menu { 
    padding: 0 2px;
    margin: 0;
    list-style: none outside none;
    z-index: 999;

    & > li{
      padding: 0 10px;
      float: left;
      position: relative;
      margin: auto;

      & > a {
        display: block;
        color: $menu-text-color !important;
        overflow: hidden;
        white-space:nowrap;
      }

      & > menu {
        position: absolute;
        padding: 0;
        left: 0;
        top: $menu-line-height+0.5px;
        display: none;
        & > li {
          width: 100%;
          padding: 3px;
          border:{
            bottom: $menu-border-ie;
            left: $menu-border-ie;
            right: $menu-border-ie;
            bottom: $menu-border;
            left: $menu-border;
            right: $menu-border;
          }
          @include background-opacity;
          &:last-child{
            @include border_radius(0 0 5px 5px);
          }
          & > menu{
            filter: alpha(opacity= 100); /* for IE */
            position: absolute;
            left: 100%;
            top: -1px !important;
            z-index: 900px;
            border: 0 !important;
            & > li{
              border-top: $menu-border-ie;
              border-top: $menu-border;

              &:last-child:first-child{
                @include border_radius(0 5px 5px 0);
              }
            }
          }
        }
      }

      &.sub.to_left > menu  {
        left: -150px;
      }

      &:hover {
        background-color: darken(opacify($main-color, 1), 10%);

        & > menu {
          display: block;
          li:hover > menu {
            border:{
              left: $menu-border-ie;
              right: $menu-border-ie;
              left: $menu-border;
              right: $menu-border;
            }
            top: 20px;
            z-index: 900px; 
          }
        }
      }

      &.sub > a:after {
        content: url("/assets/arrow_collapsed.png");
        position: relative;
        top: 3px;
        right: 0;
      }
      &.sub:hover > a:after {
        content: url("/assets/arrow_expanded.png");
      }
    }
  }
}
