<% if check_permission(SitesController, ["new"]) %>
  <p class="pull-right">
  <%= link_to new_site_path do %>
    <button class="btn btn-success btn-large">
      <%= t('new_param.masc', param: t('site.one'))%>
    </button>
  <% end %>
  </p>
<% end %>
<div style="clear: both;"></div>

<%= content_tag :div, render('list'), class: 'list' if @sites %>
